#query_select_director_listed_in = pd.read_sql_query('SELECT CATALOGUE.title , CATALOGUE.type, CATALOGUE.duration, DIRECTOR.director, CATEGORY.listed_in FROM CATALOGUE JOIN DIRECTOR_CATALOGUE ON CATALOGUE.show_id = DIRECTOR_CATALOGUE.show_id JOIN DIRECTOR ON DIRECTOR_CATALOGUE.director_id = DIRECTOR.director_id JOIN CATEGORY_CATALOGUE ON CATALOGUE.show_id = CATEGORY_CATALOGUE.show_id JOIN CATEGORY ON CATEGORY_CATALOGUE.listed_in_id = CATEGORY.listed_in_id WHERE DIRECTOR.director = "%s" ;' %(director_input),engine)
query_select_director_listed_in

- Steven Spielberg
- Alison Klayman
- hjkjhkhh


#query_select_director_listed_in = pd.read_sql_query('SELECT CATALOGUE.title , CATALOGUE.type, CATALOGUE.duration, DIRECTOR.director, CATEGORY.listed_in , ACTOR.cast , CATALOGUE.release_year FROM CATALOGUE JOIN DIRECTOR_CATALOGUE ON CATALOGUE.show_id = DIRECTOR_CATALOGUE.show_id JOIN DIRECTOR ON DIRECTOR_CATALOGUE.director_id = DIRECTOR.director_id JOIN CATEGORY_CATALOGUE ON CATALOGUE.show_id = CATEGORY_CATALOGUE.show_id JOIN CATEGORY ON CATEGORY_CATALOGUE.listed_in_id = CATEGORY.listed_in_id JOIN ACTOR_CATALOGUE ON CATALOGUE.show_id = ACTOR_CATALOGUE.show_id JOIN ACTOR ON ACTOR_CATALOGUE.cast_id = ACTOR.cast_id WHERE DIRECTOR.director = "%s" ;' %(director_input),engine)
#query_select_director_listed_in

In [2]:
import pandas as pd

from sqlalchemy import create_engine
import seaborn as sns
import matplotlib.pyplot as plt
from jinja2 import Environment , FileSystemLoader , Template
import datetime
import pdfkit

In [25]:
## connection à la database netflix

engine = create_engine('mysql+pymysql://root:Simplon1!@localhost:3306/netflix')
print("Welcome") #echo=True
query_show = pd.read_sql_query('SHOW TABLES FROM netflix',engine)
query_show

Welcome

    Tables_in_netflix
0               ACTOR
1     ACTOR_CATALOGUE
2           CATALOGUE
3            CATEGORY
4  CATEGORY_CATALOGUE
5             COUNTRY
6   COUNTRY_CATALOGUE
7            DIRECTOR
8  DIRECTOR_CATALOGUE

# Selection de la liste des 10 plus gros producteur sur Netflix

In [26]:
### requete SQL/python
query_select_all_director = pd.read_sql_query('SELECT CATALOGUE.title , CATALOGUE.type, CATALOGUE.duration, DIRECTOR.director, CATALOGUE.release_year FROM CATALOGUE JOIN DIRECTOR_CATALOGUE ON CATALOGUE.show_id = DIRECTOR_CATALOGUE.show_id JOIN DIRECTOR ON DIRECTOR_CATALOGUE.director_id = DIRECTOR.director_id JOIN CATEGORY_CATALOGUE ON CATALOGUE.show_id = CATEGORY_CATALOGUE.show_id JOIN CATEGORY ON CATEGORY_CATALOGUE.listed_in_id = CATEGORY.listed_in_id JOIN ACTOR_CATALOGUE ON CATALOGUE.show_id = ACTOR_CATALOGUE.show_id JOIN ACTOR ON ACTOR_CATALOGUE.cast_id = ACTOR.cast_id JOIN COUNTRY_CATALOGUE ON CATALOGUE.show_id = COUNTRY_CATALOGUE.show_id JOIN COUNTRY ON COUNTRY_CATALOGUE.country_id = COUNTRY.country_id;',engine)
query_select_all_director = query_select_all_director.drop_duplicates()
query_select_all_director

### comptage film par director 
director = pd.Series(", ".join(query_select_all_director["director"].dropna()).split(", "))
director = director.value_counts().head(10)

### affichage graphique film par director

plt.subplot(111)
director.plot(kind = "bar", figsize=[15,15], grid=True)
plt.title('Directeur avec le plus de film et serie sur Netflix')
plt.xlabel("Nom du directeur")
plt.ylabel("Nombre de film/serie")
plt.savefig("/home/virus/Mon-Depot/dataviz netflix/Brief dataviz web netflix 2/images/graphique_biggest_productor.png", dpi=80, format="png")
plt.close()

# Requête pour afficher les pays les plus producteur de film

In [27]:
### requete sql/python
query_select_country = pd.read_sql_query('SELECT CATALOGUE.title , COUNTRY.country FROM CATALOGUE JOIN COUNTRY_CATALOGUE ON CATALOGUE.show_id = COUNTRY_CATALOGUE.show_id JOIN COUNTRY ON COUNTRY_CATALOGUE.country_id = COUNTRY.country_id;',engine)
query_select_country = query_select_country.drop_duplicates()

### selection et contage des film par country
data_country = pd.Series(", ".join(query_select_country["country"].dropna()).split(", "))
data_country = data_country.value_counts().head(10)

### affichage graphique film par country
plt.subplot(111)
data_country.plot(kind = "bar", figsize=[15,15], grid=True)
plt.title('Pays avec le plus de film et serie sur Netflix')
plt.xlabel("Nom du Pays")
plt.ylabel("Nombre de film/serie")
plt.savefig("/home/virus/Mon-Depot/dataviz netflix/Brief dataviz web netflix 2/images/graphique_biggest_country.png", dpi=80, format="png")
plt.close()

# Affichage historique d'upload sur netflix

In [28]:
### requete python / sql 
query_select_type = pd.read_sql_query('SELECT date_added,type FROM CATALOGUE;',engine)
data_year=query_select_type[query_select_type['date_added'].notna()]
date_year= pd.to_datetime(data_year['date_added']).dt.year
query_select_type['year_added']=date_year
query_select_type = query_select_type.drop(columns=["date_added"])
data_type = query_select_type.groupby(['type','year_added']).size().reset_index(name='count')

### graphique evolution upload sur netflix

sns.set(style="darkgrid")
plt.figure(figsize=[15,15])
plt.subplot(111)
plt.title('évolution ajout de film et serie sur Netflix par annnées')
ax = sns.pointplot(x="year_added", y="count", hue = "type",data=data_type)
plt.savefig("/home/virus/Mon-Depot/dataviz netflix/Brief dataviz web netflix 2/images/graphique_evolution_addon_netflix.png", dpi=80, format="png")
plt.close()

# requête utilisateur entrée du nom de directeur

In [29]:
director_input = input("Entrez un nom de directeur : ")

# requête SQL pour selectionner ce que l'utilisateur a input

In [30]:
query_select_director = pd.read_sql_query('SELECT CATALOGUE.title , CATALOGUE.type, CATALOGUE.duration, DIRECTOR.director, CATEGORY.listed_in , ACTOR.cast , CATALOGUE.release_year , COUNTRY.country FROM CATALOGUE JOIN DIRECTOR_CATALOGUE ON CATALOGUE.show_id = DIRECTOR_CATALOGUE.show_id JOIN DIRECTOR ON DIRECTOR_CATALOGUE.director_id = DIRECTOR.director_id JOIN CATEGORY_CATALOGUE ON CATALOGUE.show_id = CATEGORY_CATALOGUE.show_id JOIN CATEGORY ON CATEGORY_CATALOGUE.listed_in_id = CATEGORY.listed_in_id JOIN ACTOR_CATALOGUE ON CATALOGUE.show_id = ACTOR_CATALOGUE.show_id JOIN ACTOR ON ACTOR_CATALOGUE.cast_id = ACTOR.cast_id JOIN COUNTRY_CATALOGUE ON CATALOGUE.show_id = COUNTRY_CATALOGUE.show_id JOIN COUNTRY ON COUNTRY_CATALOGUE.country_id = COUNTRY.country_id WHERE DIRECTOR.director = "%s" ;' %(director_input),engine)
query_select_director

,title,type,duration,director,listed_in,cast,release_year,country
0,Indiana Jones and the Last Crusade,Movie,127,Steven Spielberg,Children & Family Movies,Michael Byrne,1989,United States
1,Indiana Jones and the Last Crusade,Movie,127,Steven Spielberg,Children & Family Movies,John Rhys-Davies,1989,United States
2,Indiana Jones and the Last Crusade,Movie,127,Steven Spielberg,Children & Family Movies,Harrison Ford,1989,United States
3,Indiana Jones and the Last Crusade,Movie,127,Steven Spielberg,Children & Family Movies,Sean Connery,1989,United States
4,Indiana Jones and the Last Crusade,Movie,127,Steven Spielberg,Children & Family Movies,Denholm Elliott,1989,United States
...,...,...,...,...,...,...,...,...
236,Lincoln,Movie,150,Steven Spielberg,Dramas,James Spader,2012,India
237,Lincoln,Movie,150,Steven Spielberg,Dramas,Jared Harris,2012,India
238,Lincoln,Movie,150,Steven Spielberg,Dramas,Daniel Day-Lewis,2012,India
239,Lincoln,Movie,150,Steven Spielberg,Dramas,Hal Holbrook,2012,India
240,Lincoln,Movie,150,Steven Spielberg,Dramas,Jackie Earle Haley,2012,India

In [31]:
query_select_director_id = pd.read_sql_query( 'SELECT director_id FROM DIRECTOR WHERE director = "%s" ;' %(director_input),engine)
query_select_director_id

   director_id
0          866

# affichage du titre et category

In [32]:
query_listed = query_select_director[['title','listed_in']].drop_duplicates()
query_listed

,title,listed_in
0,Indiana Jones and the Last Crusade,Children & Family Movies
10,Indiana Jones and the Last Crusade,Action & Adventure
20,Indiana Jones and the Last Crusade,Classic Movies
30,Indiana Jones and the Temple of Doom,Children & Family Movies
40,Indiana Jones and the Temple of Doom,Action & Adventure
50,Indiana Jones and the Temple of Doom,Classic Movies
60,Indiana Jones and the Raiders of the Lost Ark,Children & Family Movies
70,Indiana Jones and the Raiders of the Lost Ark,Action & Adventure
80,Indiana Jones and the Raiders of the Lost Ark,Classic Movies
90,Catch Me If You Can,Dramas
110,Schindler's List,Dramas
122,Schindler's List,Classic Movies
134,Indiana Jones and the Kingdom of the Crystal S...,Children & Family Movies
142,Indiana Jones and the Kingdom of the Crystal S...,Sci-Fi & Fantasy
150,Indiana Jones and the Kingdom of the Crystal S...,Action & Adventure
158,The Adventures of Tintin,Children & Family Movies
185,War Horse,Dramas
213,Lincoln,Dramas

# affichage des titre de film du director

In [33]:
query_title = query_select_director["title"]
query_title = query_title.drop_duplicates()
query_title = query_title.reset_index()
query_title

   index                                              title
0      0                 Indiana Jones and the Last Crusade
1     30               Indiana Jones and the Temple of Doom
2     60      Indiana Jones and the Raiders of the Lost Ark
3     90                                Catch Me If You Can
4    110                                   Schindler&#39;s List
5    134  Indiana Jones and the Kingdom of the Crystal S...
6    158                           The Adventures of Tintin
7    185                                          War Horse
8    213                                            Lincoln

# affichage des titre et durée

In [34]:
query_duration = query_select_director[['title','duration']].drop_duplicates()
query_duration = query_duration.sort_values(by='duration', ascending=False)
query_duration = query_duration.reset_index()
query_duration = query_duration.drop(columns="index")
query_duration

                                               title  duration
0                                   Schindler&#39;s List       195
1                                            Lincoln       150
2                                          War Horse       147
3                                Catch Me If You Can       142
4                 Indiana Jones and the Last Crusade       127
5  Indiana Jones and the Kingdom of the Crystal S...       123
6               Indiana Jones and the Temple of Doom       119
7      Indiana Jones and the Raiders of the Lost Ark       116
8                           The Adventures of Tintin       107

In [35]:
for i in query_duration.index:
    print(query_duration.iloc[i]['title'])

Schindler&#39;s List
Lincoln
War Horse
Catch Me If You Can
Indiana Jones and the Last Crusade
Indiana Jones and the Kingdom of the Crystal Skull
Indiana Jones and the Temple of Doom
Indiana Jones and the Raiders of the Lost Ark
The Adventures of Tintin

# Affichage des titre et acteur de film

In [36]:
query_cast = query_select_director[['title','cast']].drop_duplicates()
query_cast = query_cast.drop_duplicates("cast")
query_cast = query_cast.sort_values(by ='cast')
query_cast = query_cast.reset_index()
query_cast = query_cast.drop(columns="index")
query_cast

                                            title             cast
0   Indiana Jones and the Raiders of the Lost Ark    Alfred Molina
1              Indiana Jones and the Last Crusade     Alison Doody
2            Indiana Jones and the Temple of Doom      Amrish Puri
3                             Catch Me If You Can        Amy Adams
4                                Schindler&#39;s List  Andrzej Seweryn
..                                            ...              ...
86                            Catch Me If You Can        Tom Hanks
87                                      War Horse   Tom Hiddleston
88                                        Lincoln  Tommy Lee Jones
89  Indiana Jones and the Raiders of the Lost Ark      Vic Tablian
90  Indiana Jones and the Raiders of the Lost Ark      Wolf Kahler

[91 rows x 2 columns]

In [37]:
#for i in query_cast.index:
#    print(query_cast.iloc[i]['cast'])

# liste des dataVIZ

In [38]:
sns.set(style="darkgrid")
plt.figure(figsize=[20,30])
plt.subplot(111)
plt.title("Nombre d'acteur par film ")


ab = sns.countplot(x = "title", data=query_cast , order=query_cast['title'].value_counts().keys())
plt.xlabel("titre de film")
plt.ylabel("Nombre d'acteur")
ab.set_xticklabels(ab.get_xticklabels(), rotation=45, horizontalalignment='right')
plt.savefig("/home/virus/Mon-Depot/dataviz netflix/Brief dataviz web netflix 2/images/graphique_nombre_acteur_film_director.png", dpi=80, format="png")
plt.close()

In [39]:
import matplotlib.pyplot as plt
import seaborn as sns, numpy as np
duree= query_select_director['duration'].dropna()
sns.set(style="darkgrid")
plt.figure(figsize=[15,15])
plt.subplot(111)
sns.distplot(duree)         
plt.savefig("/home/virus/Mon-Depot/dataviz netflix/Brief dataviz web netflix 2/images/graphique_mean_time_director.png", dpi=80, format="png")
plt.close()

In [40]:

sns.set(style="darkgrid")
plt.figure(figsize=[15,15])
plt.subplot(111)
plt.title('Nombre de films/séries par catégorie')
ab = sns.countplot(x = "listed_in", data=query_listed , order=query_listed['listed_in'].value_counts().keys())
plt.xlabel('Category')
plt.ylabel('Nombre de films et Series')
plt.savefig("/home/virus/Mon-Depot/dataviz netflix/Brief dataviz web netflix 2/images/graphique_media_listed_in.png", dpi=200, format="png")
plt.close()

In [41]:
# définition de jinja


TMPL_DIR = "/home/virus/Mon-Depot/dataviz netflix/Brief dataviz web netflix 2/"
fichier = "base.jinja"


templateLoader = FileSystemLoader(searchpath=TMPL_DIR)
templateEnv = Environment(loader=templateLoader)
template = templateEnv.get_template(fichier)

data={
        'nom':director_input,
        'time_stamp': datetime.datetime.now().strftime("%x %X"),
        'films': query_title,
        'actor': query_cast,
        'graphique2': "Brief dataviz web netflix 2/images/graphique_media_listed_in.png"
        
    }

print( template.render(data))

&lt;!DOCTYPE HTML&gt;

&lt;html&gt;
	&lt;head&gt;
		&lt;title&gt;DataViz by Anthony Marais&lt;/title&gt;
		&lt;meta charset=&quot;utf-8&quot; /&gt;
		&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot; /&gt;
		&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/css/main.css&quot; /&gt;
		&lt;link rel=&quot;stylesheet&quot; href=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css&quot; integrity=&quot;sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z&quot; crossorigin=&quot;anonymous&quot;&gt;
		&lt;script src=&quot;https://code.jquery.com/jquery-3.5.1.slim.min.js&quot; integrity=&quot;sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj&quot; crossorigin=&quot;anonymous&quot;&gt;&lt;/script&gt;
		&lt;script src=&quot;https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js&quot; integrity=&quot;sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN&quot; crossorigin=&quot;anonymous&quot;&gt;&lt;/script&gt;
		&lt;script src=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js&quot; integrity=&quot;sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV&quot; crossorigin=&quot;anonymous&quot;&gt;&lt;/script&gt;


	&lt;/head&gt;
	&lt;body&gt;

		&lt;!-- Header --&gt;
			&lt;header id=&quot;header&quot; class=&quot;alt&quot;&gt;
				&lt;div class=&quot;logo&quot;&gt;&lt;a href=&quot;index.html&quot;&gt;DataViz &lt;span&gt;by Anthony Marais&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
				&lt;a href=&quot;#menu&quot;&gt;Menu&lt;/a&gt;
			&lt;/header&gt;

		&lt;!-- Nav --&gt;
			&lt;nav id=&quot;menu&quot;&gt;
				&lt;ul class=&quot;links&quot;&gt;
					&lt;li&gt;&lt;a href=&quot;index.html&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/nav&gt;

		&lt;!-- Banner --&gt;
			&lt;section class=&quot;banner full&quot;&gt;
				&lt;article&gt;
					&lt;img src=&quot;images/tech_data_font_2.jpeg&quot; alt=&quot;&quot; /&gt;
					&lt;div class=&quot;inner&quot;&gt;
						&lt;header&gt;
							&lt;p&gt;DataViz by &lt;a&gt;Anthony Marais&lt;/a&gt;&lt;/p&gt;
							&lt;h2&gt;DataViz Netflix&lt;/h2&gt;
						&lt;/header&gt;
					&lt;/div&gt;
				&lt;/article&gt;


			&lt;/section&gt;











		&lt;!-- One --&gt;
			&lt;section id=&quot;one&quot; class=&quot;wrapper style2&quot;&gt;
				&lt;div class=&quot;inner&quot;&gt;
					&lt;div class=&quot;grid-style&quot;&gt;


						&lt;div&gt;
							&lt;div class=&quot;box&quot;&gt;
								&lt;div class=&quot;image fit&quot;&gt;
									&lt;img src=&quot;images/graphique_biggest_productor.png&quot; alt=&quot;&quot; /&gt;
								&lt;/div&gt;
								&lt;div class=&quot;content&quot;&gt;
									&lt;header class=&quot;align-center&quot;&gt;
										&lt;p&gt;Data-Visualisation des plus gros producteur de contenu sur Netflix&lt;/p&gt;
										&lt;h2&gt;Les 10 producteur avec le plus de contenu sur Netflix&lt;/h2&gt;
									&lt;/header&gt;
									&lt;p&gt;Graphique du nombre de contenu par producteur&lt;/p&gt;
									&lt;footer class=&quot;align-center&quot;&gt;

									&lt;/footer&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
		&lt;!-- TWO --&gt;



						&lt;div&gt;
							&lt;div class=&quot;box&quot;&gt;
								&lt;div class=&quot;image fit&quot;&gt;
									&lt;img src=&quot;images/graphique_evolution_addon_netflix.png&quot; alt=&quot;&quot; /&gt;
								&lt;/div&gt;
								&lt;div class=&quot;content&quot;&gt;
									&lt;header class=&quot;align-center&quot;&gt;
										&lt;p&gt;Data-Visualisation de l&#39;évolution de l&#39;ajout de contenu sur Netflix&lt;/p&gt;
										&lt;h2&gt;Evolution du nombre d&#39;ajout de contenu sur Netflix&lt;/h2&gt;
									&lt;/header&gt;
									&lt;p&gt; Graphique de l&#39;évolution d&#39;ajout de contenu par année&lt;/p&gt;
									&lt;footer class=&quot;align-center&quot;&gt;

									&lt;/footer&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;



						&lt;div&gt;
							&lt;div class=&quot;box&quot;&gt;
								&lt;div class=&quot;image fit&quot;&gt;
									&lt;img src=&quot;images/graphique_biggest_country.png&quot; alt=&quot;&quot; /&gt;
								&lt;/div&gt;
								&lt;div class=&quot;content&quot;&gt;
									&lt;header class=&quot;align-center&quot;&gt;
										&lt;p&gt;Data-Visualisation de l&#39;évolution des pays avec le plus de contenu sur Netflix&lt;/p&gt;
										&lt;h2&gt;Classement des pays avec le plus de contenu disponnible sur Netflix&lt;/h2&gt;
									&lt;/header&gt;
									&lt;p&gt;Graphique des pays avec le plus de contenu sur Netflix&lt;/p&gt;
									&lt;footer class=&quot;align-center&quot;&gt;

									&lt;/footer&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
		&lt;!-- THREE --&gt;



		&lt;!-- FOUR --&gt;


					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/section&gt;

				&lt;!-- Two --&gt;
			&lt;section id=&quot;two&quot; class=&quot;wrapper style3&quot;&gt;
				&lt;div class=&quot;inner&quot;&gt;
					&lt;header class=&quot;align-center&quot;&gt;
						&lt;p&gt;DATAVIZ BY ANTHONY MARAIS&lt;/p&gt;
						&lt;h2&gt;Car L&#39;analyse des données n&#39;as jamais étais aussi importante&lt;/h2&gt;
					&lt;/header&gt;
				&lt;/div&gt;
			&lt;/section&gt;

		&lt;!-- Three --&gt;
			&lt;section id=&quot;three&quot; class=&quot;wrapper style2&quot;&gt;
				&lt;div class=&quot;inner&quot;&gt;
					&lt;header class=&quot;align-center&quot;&gt;
						&lt;p class=&quot;special&quot;&gt;DATAVIZ BY ANTHONY MARAIS&lt;/p&gt;

					&lt;/header&gt;

						&lt;div&gt;
							&lt;div class=&quot;box&quot;&gt;

								&lt;div class=&quot;content&quot;&gt;
									&lt;header class=&quot;align-center&quot;&gt;

										&lt;h2&gt;Liste de film de Steven Spielberg&lt;/h2&gt;
									&lt;/header&gt;
									&lt;!-- boucle pour selectionner la liste des films --&gt;
										&lt;ul&gt;
										&lt;li&gt;Indiana Jones and the Last Crusade&lt;/li&gt;

										&lt;li&gt;Indiana Jones and the Temple of Doom&lt;/li&gt;

										&lt;li&gt;Indiana Jones and the Raiders of the Lost Ark&lt;/li&gt;

										&lt;li&gt;Catch Me If You Can&lt;/li&gt;

										&lt;li&gt;Schindler&#39;s List&lt;/li&gt;

										&lt;li&gt;Indiana Jones and the Kingdom of the Crystal Skull&lt;/li&gt;

										&lt;li&gt;The Adventures of Tintin&lt;/li&gt;

										&lt;li&gt;War Horse&lt;/li&gt;

										&lt;li&gt;Lincoln&lt;/li&gt;

										&lt;/ul&gt;
									&lt;!-- fin de boucle --&gt;
									&lt;footer class=&quot;align-center&quot;&gt;

									&lt;/footer&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;

						&lt;div&gt;
							&lt;div class=&quot;box&quot;&gt;

								&lt;div class=&quot;content&quot;&gt;
									&lt;header class=&quot;align-center&quot;&gt;

										&lt;h2&gt;Liste d&#39;acteur ayant joué avec Steven Spielberg&lt;/h2&gt;
									&lt;/header&gt;
									&lt;!-- boucle pour selectionner la liste des acteurs --&gt;
										&lt;div class=&quot;row&quot;&gt;

										&lt;p&gt;- Alfred Molina&lt;/p&gt;

										&lt;p&gt;- Alison Doody&lt;/p&gt;

										&lt;p&gt;- Amrish Puri&lt;/p&gt;

										&lt;p&gt;- Amy Adams&lt;/p&gt;

										&lt;p&gt;- Andrzej Seweryn&lt;/p&gt;

										&lt;p&gt;- Andy Serkis&lt;/p&gt;

										&lt;p&gt;- Anthony Higgins&lt;/p&gt;

										&lt;p&gt;- Beatrice Macola&lt;/p&gt;

										&lt;p&gt;- Ben Kingsley&lt;/p&gt;

										&lt;p&gt;- Benedict Cumberbatch&lt;/p&gt;

										&lt;p&gt;- Brian Howe&lt;/p&gt;

										&lt;p&gt;- Bruce McGill&lt;/p&gt;

										&lt;p&gt;- Caroline Goodall&lt;/p&gt;

										&lt;p&gt;- Cate Blanchett&lt;/p&gt;

										&lt;p&gt;- Christopher Walken&lt;/p&gt;

										&lt;p&gt;- Chua Kah Joo&lt;/p&gt;

										&lt;p&gt;- Daniel Craig&lt;/p&gt;

										&lt;p&gt;- Daniel Day-Lewis&lt;/p&gt;

										&lt;p&gt;- Daniel Mays&lt;/p&gt;

										&lt;p&gt;- David Kross&lt;/p&gt;

										&lt;p&gt;- David Oyelowo&lt;/p&gt;

										&lt;p&gt;- David Strathairn&lt;/p&gt;

										&lt;p&gt;- David Thewlis&lt;/p&gt;

										&lt;p&gt;- David Yip&lt;/p&gt;

										&lt;p&gt;- Denholm Elliott&lt;/p&gt;

										&lt;p&gt;- Eddie Marsan&lt;/p&gt;

										&lt;p&gt;- Embeth Davidtz&lt;/p&gt;

										&lt;p&gt;- Emily Watson&lt;/p&gt;

										&lt;p&gt;- Frank John Hughes&lt;/p&gt;

										&lt;p&gt;- Friedrich von Thun&lt;/p&gt;

										&lt;p&gt;- Gad Elmaleh&lt;/p&gt;

										&lt;p&gt;- Hal Holbrook&lt;/p&gt;

										&lt;p&gt;- Harrison Ford&lt;/p&gt;

										&lt;p&gt;- Igor Jijikine&lt;/p&gt;

										&lt;p&gt;- Jackie Earle Haley&lt;/p&gt;

										&lt;p&gt;- James Brolin&lt;/p&gt;

										&lt;p&gt;- James Spader&lt;/p&gt;

										&lt;p&gt;- Jamie Bell&lt;/p&gt;

										&lt;p&gt;- Jared Harris&lt;/p&gt;

										&lt;p&gt;- Jeremy Irvine&lt;/p&gt;

										&lt;p&gt;- Jim Broadbent&lt;/p&gt;

										&lt;p&gt;- Joe Starr&lt;/p&gt;

										&lt;p&gt;- John Hawkes&lt;/p&gt;

										&lt;p&gt;- John Hurt&lt;/p&gt;

										&lt;p&gt;- John Rhys-Davies&lt;/p&gt;

										&lt;p&gt;- Jonathan Ke Quan&lt;/p&gt;

										&lt;p&gt;- Jonathan Sagall&lt;/p&gt;

										&lt;p&gt;- Joseph Cross&lt;/p&gt;

										&lt;p&gt;- Joseph Gordon-Levitt&lt;/p&gt;

										&lt;p&gt;- Julian Glover&lt;/p&gt;

										&lt;p&gt;- Karen Allen&lt;/p&gt;

										&lt;p&gt;- Kate Capshaw&lt;/p&gt;

										&lt;p&gt;- Kevork Malikyan&lt;/p&gt;

										&lt;p&gt;- Leonardo DiCaprio&lt;/p&gt;

										&lt;p&gt;- Liam Cunningham&lt;/p&gt;

										&lt;p&gt;- Liam Neeson&lt;/p&gt;

										&lt;p&gt;- Mark Ivanir&lt;/p&gt;

										&lt;p&gt;- Martin Sheen&lt;/p&gt;

										&lt;p&gt;- Małgorzata Gebel&lt;/p&gt;

										&lt;p&gt;- Michael Byrne&lt;/p&gt;

										&lt;p&gt;- Nathalie Baye&lt;/p&gt;

										&lt;p&gt;- Nick Frost&lt;/p&gt;

										&lt;p&gt;- Nicolas Bro&lt;/p&gt;

										&lt;p&gt;- Niels Arestrup&lt;/p&gt;

										&lt;p&gt;- Patrick Kennedy&lt;/p&gt;

										&lt;p&gt;- Paul Freeman&lt;/p&gt;

										&lt;p&gt;- Peter Mullan&lt;/p&gt;

										&lt;p&gt;- Philip Stone&lt;/p&gt;

										&lt;p&gt;- Rainer Bock&lt;/p&gt;

										&lt;p&gt;- Ralph Fiennes&lt;/p&gt;

										&lt;p&gt;- Ray Winstone&lt;/p&gt;

										&lt;p&gt;- Ric Young&lt;/p&gt;

										&lt;p&gt;- River Phoenix&lt;/p&gt;

										&lt;p&gt;- Robert Eddison&lt;/p&gt;

										&lt;p&gt;- Ronald Lacey&lt;/p&gt;

										&lt;p&gt;- Roshan Seth&lt;/p&gt;

										&lt;p&gt;- Roy Chiao&lt;/p&gt;

										&lt;p&gt;- Sally Field&lt;/p&gt;

										&lt;p&gt;- Sean Connery&lt;/p&gt;

										&lt;p&gt;- Shia LaBeouf&lt;/p&gt;

										&lt;p&gt;- Shmulik Levy&lt;/p&gt;

										&lt;p&gt;- Simon Pegg&lt;/p&gt;

										&lt;p&gt;- Steve Eastin&lt;/p&gt;

										&lt;p&gt;- Tim Blake Nelson&lt;/p&gt;

										&lt;p&gt;- Toby Jones&lt;/p&gt;

										&lt;p&gt;- Toby Kebbell&lt;/p&gt;

										&lt;p&gt;- Tom Hanks&lt;/p&gt;

										&lt;p&gt;- Tom Hiddleston&lt;/p&gt;

										&lt;p&gt;- Tommy Lee Jones&lt;/p&gt;

										&lt;p&gt;- Vic Tablian&lt;/p&gt;

										&lt;p&gt;- Wolf Kahler&lt;/p&gt;


										&lt;/div&gt;
									&lt;!-- fin de boucle --&gt;
									&lt;footer class=&quot;align-center&quot;&gt;

									&lt;/footer&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;


						&lt;div&gt;
							&lt;div class=&quot;box&quot;&gt;
								&lt;div class=&quot;image fit&quot;&gt;
									&lt;img src=&quot;images/graphique_nombre_acteur_film_director.png&quot; style=&quot;height:1200px&quot; /&gt;
								&lt;/div&gt;
								&lt;div class=&quot;content&quot;&gt;
									&lt;header class=&quot;align-center&quot;&gt;
										&lt;p&gt;Data-Visualisation du nombre d&#39;acteur par film du directeur sélectionner&lt;/p&gt;
										&lt;h2&gt;Nombre acteur par film de directeur choisi Netflix&lt;/h2&gt;
									&lt;/header&gt;
									&lt;p&gt; Graphique de nombre d&#39;acteur par contenu de directeur&lt;/p&gt;
									&lt;footer class=&quot;align-center&quot;&gt;

									&lt;/footer&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;


						&lt;div&gt;
							&lt;div class=&quot;box&quot;&gt;
								&lt;div class=&quot;image fit&quot;&gt;
									&lt;img src=&quot;images/graphique_mean_time_director.png&quot; style=&quot;height:800px&quot;/&gt;
								&lt;/div&gt;
								&lt;div class=&quot;content&quot;&gt;
									&lt;header class=&quot;align-center&quot;&gt;
										&lt;p&gt;Data-Visualisation du temps moyen par film du directeur sélectionner&lt;/p&gt;
										&lt;h2&gt;Temps moyen de film de directeur choisi Netflix&lt;/h2&gt;
									&lt;/header&gt;
									&lt;p&gt; Graphique de temps moyen par contenu de directeur&lt;/p&gt;
									&lt;footer class=&quot;align-center&quot;&gt;

									&lt;/footer&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;

						&lt;div&gt;
							&lt;div class=&quot;box&quot;&gt;
								&lt;div class=&quot;image fit&quot;&gt;
									&lt;img src=&quot;images/graphique_media_listed_in.png&quot; style=&quot;height:800px&quot;/&gt;
								&lt;/div&gt;
								&lt;div class=&quot;content&quot;&gt;
									&lt;header class=&quot;align-center&quot;&gt;
										&lt;p&gt;Data-Visualisation des catégorie par film du directeur sélectionner&lt;/p&gt;
										&lt;h2&gt;Catégorie de film de directeur choisi Netflix&lt;/h2&gt;
									&lt;/header&gt;
									&lt;p&gt; Graphique des catégorie par contenu de directeur&lt;/p&gt;
									&lt;footer class=&quot;align-center&quot;&gt;

									&lt;/footer&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;





						&lt;div class=&quot;gallery&quot;&gt;
							&lt;div&gt;

							&lt;/div&gt;



						&lt;/div&gt;
				&lt;/div&gt;
			&lt;/section&gt;


			&lt;footer id=&quot;footer&quot;&gt;



				&lt;div class=&quot;inner&quot;&gt;



					&lt;div class=&quot;content&quot;&gt;
						&lt;section&gt;
							&lt;h3&gt;DATAVIZ NETFLIX&lt;/h3&gt;
							&lt;p&gt;Ces analyse et visualisation des données on étais faite via notre database Netflix.&lt;/p&gt;
						&lt;/section&gt;

						&lt;section&gt;
							&lt;h4&gt;Contact&lt;/h4&gt;
							&lt;ul class=&quot;plain&quot;&gt;

								&lt;li&gt;&lt;a href=&quot;https://github.com/anthony-marais&quot;&gt;&lt;i class=&quot;icon fa-github&quot;&gt;&amp;nbsp;&lt;/i&gt;Github&lt;/a&gt;&lt;/li&gt;
							&lt;/ul&gt;
						&lt;/section&gt;
					&lt;/div&gt;


					&lt;p&gt;Date et heure de la création du contenu 10/01/20 16:18:43&lt;/p&gt;


					&lt;div class=&quot;copyright&quot;&gt;
						&amp;copy; DataViz. by Anthony Marais.
					&lt;/div&gt;
				&lt;/div&gt;



			&lt;/footer&gt;



		&lt;!-- Scripts --&gt;
			&lt;script src=&quot;assets/js/jquery.min.js&quot;&gt;&lt;/script&gt;
			&lt;script src=&quot;assets/js/jquery.scrollex.min.js&quot;&gt;&lt;/script&gt;
			&lt;script src=&quot;assets/js/skel.min.js&quot;&gt;&lt;/script&gt;
			&lt;script src=&quot;assets/js/util.js&quot;&gt;&lt;/script&gt;
			&lt;script src=&quot;assets/js/main.js&quot;&gt;&lt;/script&gt;

	&lt;/body&gt;
&lt;/html&gt;

In [42]:
outputText = template.render(data)
html_file = open('jinja.html' , 'w')
html_file.write(outputText)
html_file.close()

In [3]:
import pdfkit
pdfkit.from_file('jinja.html', 'out.pdf')

qt5ct: using qt5ct plugin
qt5ct: D-Bus system tray: yes
Loading page (1/2)
Printing pages (2/2)
Done

True