In [27]:
import pandas as pd

from sqlalchemy import create_engine
import seaborn as sns
import matplotlib.pyplot as plt
from jinja2 import Environment , FileSystemLoader , Template
import datetime

In [28]:
## connection à la database netflix

engine = create_engine('mysql+pymysql://root:Simplon1!@localhost:3306/netflix')
print("Welcome") #echo=True
query_show = pd.read_sql_query('SHOW TABLES FROM netflix',engine)
query_show

Welcome

    Tables_in_netflix
0               ACTOR
1     ACTOR_CATALOGUE
2           CATALOGUE
3            CATEGORY
4  CATEGORY_CATALOGUE
5             COUNTRY
6   COUNTRY_CATALOGUE
7            DIRECTOR
8  DIRECTOR_CATALOGUE

In [30]:
director_input = input("Entrez un nom de directeur : ")

Entrez un nom de directeur :  Jesse V. Johnson

In [31]:
query_select_director_id = pd.read_sql_query( 'SELECT director_id FROM DIRECTOR WHERE director = "%s" ;' %(director_input),engine)
query_select_director_id

   director_id
0           57

In [48]:
query_select_director_show_id = pd.read_sql_query('SELECT CATALOGUE.title , DIRECTOR.director FROM CATALOGUE JOIN DIRECTOR_CATALOGUE ON CATALOGUE.show_id = DIRECTOR_CATALOGUE.show_id JOIN DIRECTOR ON DIRECTOR_CATALOGUE.director_id = DIRECTOR.director_id  WHERE DIRECTOR.director = "%s" ;' %(director_input),engine)
query_select_director_show_id

                title          director
0           Mad Money  Jesse V. Johnson
1          Savage Dog  Jesse V. Johnson
2       Triple Threat  Jesse V. Johnson
3  The Debt Collector  Jesse V. Johnson
4          Avengement  Jesse V. Johnson

In [53]:
#query_select_director_show_id.title[1]
for i in query_select_director_show_id.index:
               print(query_select_director_show_id.iloc[i]['title'])

Mad Money
Savage Dog
Triple Threat
The Debt Collector
Avengement

In [44]:
type(query_select_director_show_id)

pandas.core.frame.DataFrame

In [51]:
# définition de jinja


TMPL_DIR = "/home/virus/Documents/jinja/"
fichier = "base.jinja"


templateLoader = FileSystemLoader(searchpath=TMPL_DIR)
templateEnv = Environment(loader=templateLoader)
template = templateEnv.get_template(fichier)

data={
        'nom':director_input,
        'time_stamp': datetime.datetime.now().strftime("%x %X"),
        'films': query_select_director_show_id
    }

print( template.render(data))

<!doctype html>
<html lang="fr">

<head>
	<title>Information du directeur Jesse V. Johnson</title>
</head>

<body>
    <h1>Le nom entré est : Jesse V. Johnson</h1>
	<footer>
	09/15/20 15:26:11
	</footer>
	<ul>

		<li>Mad Money</li>

		<li>Savage Dog</li>

		<li>Triple Threat</li>

		<li>The Debt Collector</li>

		<li>Avengement</li>

	</ul>
</body>
</html>

In [52]:
outputText = template.render(data)
html_file = open('jinja.html' , 'w')
html_file.write(outputText)
html_file.close()