In [3]:
# Import de la librairie pandas avec l'allias pd

import pandas as pd

# 1. Lire le fichier
# importation des données du fichier csv

data = pd.read_csv("//home//virus//Documents//dataviz netflix//netflix_titles.csv",index_col=0)

data.head()

             type  ...                                        description
show_id            ...
81145628    Movie  ...  Before planning an awesome wedding for his gra...
80117401    Movie  ...  Jandino Asporaat riffs on the challenges of ra...
70234439  TV Show  ...  With the help of three human allies, the Autob...
80058654  TV Show  ...  When a prison ship crash unleashes hundreds of...
80125979    Movie  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 11 columns]

In [9]:
# 2. Afficher les dimensions du dataframe
data.shape
print(data.shape[0]) # lignes
print(data.shape[1]) # colonne

6234
11

In [7]:
data

             type  ...                                        description
show_id            ...
81145628    Movie  ...  Before planning an awesome wedding for his gra...
80117401    Movie  ...  Jandino Asporaat riffs on the challenges of ra...
70234439  TV Show  ...  With the help of three human allies, the Autob...
80058654  TV Show  ...  When a prison ship crash unleashes hundreds of...
80125979    Movie  ...  When nerdy high schooler Dani finally attracts...
...           ...  ...                                                ...
80000063  TV Show  ...  This parody of first-person shooter games, mil...
70286564  TV Show  ...  Marc Maron stars as Marc Maron, who interviews...
80116008    Movie  ...  Nursery rhymes and original music for children...
70281022  TV Show  ...  Set during the Russian Revolution, this comic ...
70153404  TV Show  ...  This hit sitcom follows the merry misadventure...

[6234 rows x 11 columns]

In [72]:
# 3. Compter les films et les série
)
data_movie= pd.DataFrame(data.loc[data['type']=="Movie"]
data_movie

           type  ...                                        description
show_id          ...
81145628  Movie  ...  Before planning an awesome wedding for his gra...
80117401  Movie  ...  Jandino Asporaat riffs on the challenges of ra...
80125979  Movie  ...  When nerdy high schooler Dani finally attracts...
70304989  Movie  ...  In a dystopian future, an insurance adjuster f...
80164077  Movie  ...  Fabrizio Copano takes audience participation t...
...         ...  ...                                                ...
80085438  Movie  ...  Frank was a rising pop star when he married Ci...
80085439  Movie  ...  A student filmmaker vengefully turns his camer...
80011846  Movie  ...  This unfiltered documentary follows the rocky ...
80064521  Movie  ...  The journey of fashion designer Jeremy Scott f...
80116008  Movie  ...  Nursery rhymes and original music for children...

[4265 rows x 11 columns]

In [173]:
data_movie['type'].value_counts()

Movie    4265
Name: type, dtype: int64

In [55]:
data_serie = pd.DataFrame(data.loc[data['type']=="TV Show"])
data_serie

             type  ...                                        description
show_id            ...
70234439  TV Show  ...  With the help of three human allies, the Autob...
80058654  TV Show  ...  When a prison ship crash unleashes hundreds of...
80163890  TV Show  ...  A young journalist is forced into a life of cr...
80117902  TV Show  ...  As California's 2016 fire season rages, brave ...
80244601  TV Show  ...  As four couples with different lifestyles go t...
...           ...  ...                                                ...
80159925  TV Show  ...  A wacky rabbit and his gang of animal pals hav...
80000063  TV Show  ...  This parody of first-person shooter games, mil...
70286564  TV Show  ...  Marc Maron stars as Marc Maron, who interviews...
70281022  TV Show  ...  Set during the Russian Revolution, this comic ...
70153404  TV Show  ...  This hit sitcom follows the merry misadventure...

[1969 rows x 11 columns]

In [174]:
data_serie['type'].value_counts()

TV Show    1969
Name: type, dtype: int64

In [56]:
data.type.value_counts()

Movie      4265
TV Show    1969
Name: type, dtype: int64

In [172]:
data_serie_movie = data.loc[(data['type']=="TV Show") | (data['type']=="Movie")]
data_serie_movie.type.value_counts()

Movie      4265
TV Show    1969
Name: type, dtype: int64

In [60]:
# 4. Générer le résumé statistique du dataframe

data.describe(include='all')

         type  ...                                        description
count    6234  ...                                               6234
unique      2  ...                                               6226
top     Movie  ...  A surly septuagenarian gets another chance at ...
freq     4265  ...                                                  3
mean      NaN  ...                                                NaN
std       NaN  ...                                                NaN
min       NaN  ...                                                NaN
25%       NaN  ...                                                NaN
50%       NaN  ...                                                NaN
75%       NaN  ...                                                NaN
max       NaN  ...                                                NaN

[11 rows x 11 columns]

In [82]:
# 5. Compter les valeurs manquant

data_sum = (data.isna()).sum()
data_sum

type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [100]:
# 6. Explorer les valeurs manquante

# a. Sur la colonne des directeurs de production

data.loc[data['director'].isna(),:].type.value_counts()

TV Show    1841
Movie       128
Name: type, dtype: int64

In [123]:
# b. Sur la colonne des acteurs
data.loc[data['cast'].isna()].listed_in.value_counts().head(n=20)

Documentaries                                            148
Documentaries, International Movies                       94
Docuseries                                                31
Documentaries, Sports Movies                              20
Crime TV Shows, Docuseries                                19
Documentaries, Music & Musicals                           15
Kids' TV                                                  14
Docuseries, International TV Shows                        14
Documentaries, International Movies, Sports Movies        14
Reality TV                                                12
Crime TV Shows, Docuseries, International TV Shows        12
Documentaries, International Movies, Music & Musicals     11
British TV Shows, International TV Shows, Reality TV       9
Kids' TV, TV Comedies                                      8
Children & Family Movies                                   8
Docuseries, Science & Nature TV                            7
Docuseries, Reality TV                                     7
British TV Shows, Docuseries, International TV Shows       6
British TV Shows, Docuseries, Science & Nature TV          6
Classic Movies, Documentaries                              6
Name: listed_in, dtype: int64

In [128]:
# 7. Supprimer les lignes dupliquées

data.duplicated().value_counts()

False    6233
True        1
dtype: int64

In [137]:
data_drop = data.drop_duplicates()
data_drop.duplicated().value_counts()

False    6233
dtype: int64

In [169]:
# 8. Compter les films/séries produits par les États-Unis et par la France

data_count_US_FR = data.loc[(data['country']=="United States") | (data['country' =="France")]
data_count_US_FR['country'].value_counts()

United States    2032
France             90
Name: country, dtype: int64

In [176]:
# 9. Afficher le contenu le plus vieux disponible sur Netflix

data.release_year.min()

1925

In [182]:
data['release_year']=="1925"

show_id
81145628    True
80117401    True
70234439    True
80058654    True
80125979    True
            ...
80000063    True
70286564    True
80116008    True
70281022    True
70153404    True
Name: release_year, Length: 6234, dtype: bool

In [194]:
# 10. Afficher le film avec la durée la plus longue sur Netflix

# a. Nouvelle notion : les méthodes str
# b. Énoncé

data_duree = data_movie.duration.str.replace("min","")
data_duree #.str.replace("min","")

show_id
81145628     90
80117401     94
80125979     99
70304989    110
80164077     60
            ...
80085438     70
80085439    102
80011846     88
80064521    109
80116008     60
Name: duration, Length: 4265, dtype: object

In [198]:
data_duree = data_duree.astype('int')
data_duree

show_id
81145628     90
80117401     94
80125979     99
70304989    110
80164077     60
           ...
80085438     70
80085439    102
80011846     88
80064521    109
80116008     60
Name: duration, Length: 4265, dtype: int64

In [202]:
data_duree = data_duree.sort_values(ascending=True)
data_duree

show_id
70304298      3
81176188     10
81020543     11
80114804     12
80239831     12
           ...
80175798    209
70090035    214
60020906    224
60002818    228
80988062    312
Name: duration, Length: 4265, dtype: int64

In [208]:
data_duree = data_movie.duration.str.replace("min","").astype('int').sort_values(ascending=False)
data_duree

show_id
80988062    312
60002818    228
60020906    224
70090035    214
80175798    209
           ...
80239831     12
80114804     12
81020543     11
81176188     10
70304298      3
Name: duration, Length: 4265, dtype: int64

In [210]:
data.reindex(data_duree.index).head(n=5)

           type  ...                                        description
show_id          ...
80988062  Movie  ...  In 1984, a young programmer begins to question...
60002818  Movie  ...  Returning home from war after being assumed de...
60020906  Movie  ...  In 1890s India, an arrogant British commander ...
70090035  Movie  ...  In 16th-century India, what begins as a strate...
80175798  Movie  ...  Hit man Frank Sheeran looks back at the secret...

[5 rows x 11 columns]

In [212]:
# 11. Étudier les catégories avec le plus de contenu

data["listed_in"].head()

show_id
81145628    Children & Family Movies, Comedies
80117401                       Stand-Up Comedy
70234439                              Kids' TV
80058654                              Kids' TV
80125979                              Comedies
Name: listed_in, dtype: object

In [222]:
categories=pd.Series(", ".join(data["listed_in"].dropna()).split(", "))

categories.value_counts().head()

International Movies      1927
Dramas                    1623
Comedies                  1113
International TV Shows    1001
Documentaries              668
dtype: int64

In [225]:
cast=pd.Series(", ".join(data["cast"].dropna()).split(", "))
cast.value_counts().head()

Anupam Kher         33
Shah Rukh Khan      30
Naseeruddin Shah    27
Om Puri             27
Yuki Kaji           26
dtype: int64

In [227]:
director=pd.Series(", ".join(data["director"].dropna()).split(", "))

director.value_counts().head()

Jan Suter       21
Raúl Campos     19
Jay Karas       14
Marcus Raboy    14
Jay Chapman     12
dtype: int64