In [1]:
def polynome(x):
    x2 = x*x
    return x2+x-5

In [2]:
polynome(10)

105

In [1]:
from math import log #on importe une fonction exitante
def log_base(x,base=10):
    return log(x)/log(base)
y = log_base(1000)  #identique à y = log_base (1000,10)
z = log_base(1000, 2)   #logarithme en base deux

y,z

(2.9999999999999996, 9.965784284662087)

In [12]:
def calcul(x):
    y= x**2
    a= x+y
    return a
print(a)# déclenche une exception

NameError: name 'a' is not defined

In [14]:
b = 2

def test():
    global b  # à tester sans le global
    b=3
    return print("interieur de test", b)

test()
print("après test", b)

interieur de test 3
après test 2

In [20]:
def recursive(x):
    if x / 2 < 1:
        print("je ne m'appelle pas pour x=",x)
        return 1
    else:
        print("je m'appelle pour x=",x)
        return recursive (x/2)+1 #à tester sans le +1

recursive(32)

je m'appelle pour x= 32
je m'appelle pour x= 16.0
je m'appelle pour x= 8.0
je m'appelle pour x= 4.0
je m'appelle pour x= 2.0
je ne m'appelle pas pour x= 1.0

6

In [25]:
s1 = "Du passé faisons table rase"
l1 = [i for i in s1]
l2 = s1.split("as")
l3 = s1.split()

print(l1[0], l1[1], l1[2], l1[3])
print(l2)
print(l3)

D u   p
['Du p', 'sé faisons table r', 'e']
['Du', 'passé', 'faisons', 'table', 'rase']

In [32]:
l1 = ['H','e','l','l','o',' ','W']
l2 = ['Du', 'passe', 'faisons','table','rase']

s1 = "".join(l1)
s2 = "  ".join(l2)

print(s1)
print(s2)

Hello W
Du  passe  faisons  table  rase

In [33]:
s1 = "Faisons table rase"
s2 = s1[:8].lower() + s1[8:13].upper()
print(s2)

faisons TABLE

In [34]:
s1 = "Ce texte contient deux fois le mot texte."
print(s1.find('texte',0))

3

In [35]:
print(s1.find('texte',4))

35

In [36]:
print(s1.find('texte',36))

-1

In [39]:
s1 = "Ce texte contient deux fois le mot texte."
max = 0 
while max > -1:
    max = s1.find('texte', max+1)
    print(max)

3
35
-1

In [50]:
s1 = "Le prix est de deux euros."
if "euros" in s1:
    i =  s1.index("euros")
    s2 = s1[:i-5] + "$" + s1[i-5:i]
    j = s2.find("deux")
    s3 = s2[:j] + "2.15" + s2[j+4:]
    print(s3)

Le prix est de $2.15

In [49]:
s1 = "Le prix est de deux euros."

i =  s1.index("euros")
s2 = s1[:i-5] + "$" + s1[i-5:i]
j = s2.find("deux")
s3 = s2[:j] + "2.15" + s2[j+4:]
print(s1[:i-5])
print(i)
print(s2)
print(j)
print(s3)
print(s1[i-5:i])
print(s2[j+4:])

Le prix est de
20
Le prix est de $deux
16
Le prix est de $2.15
deux

In [54]:
s1 = "Le prix est de deux euros"
s2 = s1.replace("deux euros","$2.15")
print(s2)

Le prix est de $2.15

In [55]:
s = "300 seulement  ?"
l = s.split()
for mot in l:
    if mot.isalpha():
        print("mot")
    if mot.isnumeric():
        print("nombre")
    if not mot.isalnum():
        print("?")

nombre
mot
?

In [56]:
from re import findall
s = "Le PIB de l'Argentine baisse depuis 3 ans"
l1 = findall('[A-Z][a-z]+',s)
l2 = findall('[a-zA-Z]*[iT][a-zA-Z]*',s)

print(l1)
print(l2)

['Le', 'Argentine']
['Argentine', 'baisse', 'depuis']

In [60]:
from re import findall
motif = "0[1-9](?:[\s\.]?[0-9]{2}){4}"
n1 = "0678908976,"
n2 = "09.56.78.90.65,"
n3 = "03 06 86 96 96,"
n4 = "06 74 74 74,"
n5 = "03.33 93 2090,"
n6 = "83-83-83-83-93,"
s = n1+n2+n3+n4+n5+n6
print(findall(motif,s))

['0678908976', '09.56.78.90.65', '03 06 86 96 96', '03.33 93 2090']

In [61]:
from re import findall
motif = "0[1-9](?:[\s\.]?[0-9]{2}){4}"
n1 = "0678908976"
n2 = "09.56.78.90.65"
n3 = "03 06 86 96 96"
n4 = "06 74 74 74"
n5 = "03.33 93 2090"
n6 = "83-83-83-83-93"
s = n1+n2+n3+n4+n5+n6
print(findall(motif,s))

['0678908976', '09.56.78.90.65', '03 06 86 96 96', '06 74 74 7403']

In [68]:
from re import sub
s = "Un texte <strong>HTML<strong/>avec des balises"
s += ' et même<script type ="text/javascript">'
s += "var i = 5 ;</script> du javascript dedans."
s1 = sub('<[a-z]*/?>',"",s)
print(s1)

Un texte HTMLavec des balises et même<script type ="text/javascript">var i = 5 ;</script> du javascript dedans.

In [73]:
from re import sub
s = "Un texte <strong>HTML<strong/> avec des balises"
s += ' et même<script type ="text/javascript">'
s += " var i = 5 ;</script> du javascript dedans."
s1 = sub('<.*>', '',s)
s2 = sub('<[a-z\\/"=\s]*>','',s)
s3 = sub('<[^>]*>', '',s)
s4 = sub('<.*?>', '',s)
print(s1)
print(s2)
print(s3)
print(s4)

Un texte  du javascript dedans.
Un texte HTML avec des balises et même var i = 5 ; du javascript dedans.
Un texte HTML avec des balises et même var i = 5 ; du javascript dedans.
Un texte HTML avec des balises et même var i = 5 ; du javascript dedans.