In [25]:
import pandas as pd
from sqlalchemy import *
engine = create_engine('mysql+pymysql://root:Simplon1!@localhost:3306/netflix', echo=False)
connection = engine.raw_connection()
print("Welcome")
query_show = pd.read_sql_query('SHOW TABLES FROM netflix',engine)
query_show

Welcome

    Tables_in_netflix
0               ACTOR
1     ACTOR_CATALOGUE
2           CATALOGUE
3            CATEGORY
4  CATEGORY_CATALOGUE
5             COUNTRY
6   COUNTRY_CATALOGUE
7            DIRECTOR
8  DIRECTOR_CATALOGUE

In [28]:
query_insert = engine.execute('INSERT INTO DIRECTOR (director) VALUES("SIMPLON");')
print(query_insert)

<sqlalchemy.engine.result.ResultProxy object at 0x7fe7c2484a30>

In [29]:
query_retrieve = pd.read_sql_query('SELECT director from DIRECTOR WHERE director_id NOT IN(SELECT director_id FROM DIRECTOR_CATALOGUE);', engine)
query_retrieve

         director
0  ANTHONY MARAIS
1         SIMPLON

In [30]:
query_delete = engine.execute("DELETE FROM DIRECTOR WHERE director_id NOT IN(SELECT director_id FROM DIRECTOR_CATALOGUE);")
print(query_delete)

<sqlalchemy.engine.result.ResultProxy object at 0x7fe7c1a2bfa0>

In [31]:
query_retrieve = pd.read_sql_query('SELECT director from DIRECTOR WHERE director_id NOT IN(SELECT director_id FROM DIRECTOR_CATALOGUE);', engine)
query_retrieve

Empty DataFrame
Columns: [director]
Index: []

In [ ]:
import mysql.connector
from json import load

fichierConfig = "config.json"
nomProcedure = "checkDirector"
nomRealisateur = "Alain Deloin"

with open(fichierConfig) as fichier:
    config = load(fichier)["mysql"]

try:
    connection = mysql.connector.connect(host=config["host"],
                                         database=config["bdd"],
                                         user=config["user"],
                                         password=config["password"])
    cursor = connection.cursor()
    cursor.callproc(nomProcedure, [nomRealisateur, ])

except mysql.connector.Error as error:
    print("Problème avec l'exécution de la procédure stockée: {}".format(error))
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()