In [1]:
print("partie 1 netflix")

partie 1 netflix

In [2]:
# Import de la librairie pandas avec l'allias pd

import pandas as pd

# 1. Lire le fichier
# importation des données du fichier csv

data = pd.read_csv("///home/virus//Mon-Depot//dossier .py//dataviz netflix//netflix_titles.csv",index_col=0)

data.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
# 2. Afficher les dimensions du dataframe
data.shape
print(data.shape[0]) # lignes
print(data.shape[1]) # colonne

6234
11

In [5]:
# 3. Compter les films et les série

data_movie= pd.DataFrame(data.loc[data['type']=="Movie"])
data_movie.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...

In [6]:
data_movie['type'].value_counts()

Movie    4265
Name: type, dtype: int64

In [7]:
data_serie = pd.DataFrame(data.loc[data['type']=="TV Show"])
data_serie.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
80244601,TV Show,Castle of Stars,NaN,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",NaN,"September 7, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...

In [8]:
data_serie['type'].value_counts()

TV Show    1969
Name: type, dtype: int64

In [9]:
data.type.value_counts()

Movie      4265
TV Show    1969
Name: type, dtype: int64

In [10]:
data_serie_movie = data.loc[(data['type']=="TV Show") | (data['type']=="Movie")]
data_serie_movie.type.value_counts()

Movie      4265
TV Show    1969
Name: type, dtype: int64

In [11]:
# 4. Générer le résumé statistique du dataframe

data.describe(include='all')

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,6234,6234,4265,5664,5758,6223,6234.00000,6224,6234,6234,6234
unique,2,6172,3301,5469,554,1524,NaN,14,201,461,6226
top,Movie,Love,"Raúl Campos, Jan Suter",David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,Documentaries,A surly septuagenarian gets another chance at ...
freq,4265,3,18,18,2032,122,NaN,2027,1321,299,3
mean,NaN,NaN,NaN,NaN,NaN,NaN,2013.35932,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,8.81162,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1925.00000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2013.00000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2016.00000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2018.00000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2020.00000,NaN,NaN,NaN,NaN

In [12]:
# 5. Compter les valeurs manquant

data_sum = (data.isna()).sum()
data_sum

type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [13]:
# 6. Explorer les valeurs manquante

# a. Sur la colonne des directeurs de production

data.loc[data['director'].isna(),:].type.value_counts()

TV Show    1841
Movie       128
Name: type, dtype: int64

In [14]:
# b. Sur la colonne des acteurs
data.loc[data['cast'].isna()].listed_in.value_counts().head(n=20)

Documentaries                                              148
Documentaries, International Movies                         94
Docuseries                                                  31
Documentaries, Sports Movies                                20
Crime TV Shows, Docuseries                                  19
Documentaries, Music & Musicals                             15
Kids' TV                                                    14
Docuseries, International TV Shows                          14
Documentaries, International Movies, Sports Movies          14
Reality TV                                                  12
Crime TV Shows, Docuseries, International TV Shows          12
Documentaries, International Movies, Music & Musicals       11
British TV Shows, International TV Shows, Reality TV         9
Children & Family Movies                                     8
Kids' TV, TV Comedies                                        8
Docuseries, Science & Nature TV                              7
Docuseries, Reality TV                                       7
British TV Shows, Docuseries, Science & Nature TV            6
Docuseries, International TV Shows, Science & Nature TV      6
British TV Shows, Docuseries, International TV Shows         6
Name: listed_in, dtype: int64

In [15]:
# 7. Supprimer les lignes dupliquées

data.duplicated().value_counts()

False    6233
True        1
dtype: int64

In [16]:
data_drop = data.drop_duplicates()
data_drop.duplicated().value_counts()

False    6233
dtype: int64

In [17]:
# 8. Compter les films/séries produits par les États-Unis et par la France

data_count_US_FR = data.loc[(data['country']=="United States") | (data['country']=="France")]

data_count_US_FR['country'].value_counts()

United States    2032
France             90
Name: country, dtype: int64

In [18]:
# 9. Afficher le contenu le plus vieux disponible sur Netflix

data.release_year.min()

1925

In [19]:
data['release_year']=="1925"

show_id
81145628    False
80117401    False
70234439    False
80058654    False
80125979    False
            ...
80000063    False
70286564    False
80116008    False
70281022    False
70153404    False
Name: release_year, Length: 6234, dtype: bool

In [20]:
# 10. Afficher le film avec la durée la plus longue sur Netflix

# a. Nouvelle notion : les méthodes str
# b. Énoncé

data_duree = data_movie.duration.str.replace("min","")
data_duree #.str.replace("min","")

show_id
81145628     90
80117401     94
80125979     99
70304989    110
80164077     60
            ...
80085438     70
80085439    102
80011846     88
80064521    109
80116008     60
Name: duration, Length: 4265, dtype: object

In [21]:
data_duree = data_duree.astype('int')
data_duree

show_id
81145628     90
80117401     94
80125979     99
70304989    110
80164077     60
           ...
80085438     70
80085439    102
80011846     88
80064521    109
80116008     60
Name: duration, Length: 4265, dtype: int64

In [22]:
data_duree = data_duree.sort_values(ascending=True)
data_duree

show_id
70304298      3
81176188     10
81020543     11
80114804     12
80239831     12
           ...
80175798    209
70090035    214
60020906    224
60002818    228
80988062    312
Name: duration, Length: 4265, dtype: int64

In [23]:
data_duree = data_movie.duration.str.replace("min","").astype('int').sort_values(ascending=False)
data_duree

show_id
80988062    312
60002818    228
60020906    224
70090035    214
80175798    209
           ...
80239831     12
80114804     12
81020543     11
81176188     10
70304298      3
Name: duration, Length: 4265, dtype: int64

In [24]:
data.reindex(data_duree.index).head(n=5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
80988062,Movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson...",United States,"December 28, 2018",2018,TV-MA,312 min,"Dramas, International Movies, Sci-Fi & Fantasy","In 1984, a young programmer begins to question..."
60002818,Movie,Sangam,Raj Kapoor,"Raj Kapoor, Vyjayanthimala, Rajendra Kumar, La...",India,"December 31, 2019",1964,TV-14,228 min,"Classic Movies, Dramas, International Movies",Returning home from war after being assumed de...
60020906,Movie,Lagaan,Ashutosh Gowariker,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",India,"December 8, 2017",2001,PG,224 min,"Dramas, International Movies, Music & Musicals","In 1890s India, an arrogant British commander ..."
70090035,Movie,Jodhaa Akbar,Ashutosh Gowariker,"Hrithik Roshan, Aishwarya Rai Bachchan, Sonu S...",India,"October 1, 2018",2008,TV-14,214 min,"Action & Adventure, Dramas, International Movies","In 16th-century India, what begins as a strate..."
80175798,Movie,The Irishman,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,"November 27, 2019",2019,R,209 min,Dramas,Hit man Frank Sheeran looks back at the secret...

In [25]:
# 11. Étudier les catégories avec le plus de contenu

data["listed_in"].head()

show_id
81145628    Children & Family Movies, Comedies
80117401                       Stand-Up Comedy
70234439                              Kids' TV
80058654                              Kids' TV
80125979                              Comedies
Name: listed_in, dtype: object

In [26]:
categories=pd.Series(", ".join(data["listed_in"].dropna()).split(", "))

categories.value_counts().head()

International Movies      1927
Dramas                    1623
Comedies                  1113
International TV Shows    1001
Documentaries              668
dtype: int64

In [27]:
cast=pd.Series(", ".join(data["cast"].dropna()).split(", "))
cast.value_counts().head()

Anupam Kher         33
Shah Rukh Khan      30
Om Puri             27
Naseeruddin Shah    27
Akshay Kumar        26
dtype: int64

In [28]:
director=pd.Series(", ".join(data["director"].dropna()).split(", "))

director.value_counts().head()

Jan Suter       21
Raúl Campos     19
Marcus Raboy    14
Jay Karas       14
Jay Chapman     12
dtype: int64