In [23]:
# Import de la librairie numpy avec l'allias np
import numpy as np
# Import de la librairie pandas avec l'allias pd

import pandas as pd

In [177]:
# Import de données depuis un fichié Excel dans un dataframe

#nom_colonnes = ['ZE2010', 'LIBZE2010', 'REG', 'LIBREG']

data = pd.read_excel("//home//virus//Documents//Analyse exploratoire taux de chômage//chomage_zone.xls",
                     sheet_name='txcho_ze' ,skiprows=5,)

# Afficher les premières lignes du dataframe

(data.head())

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
0,0050,Mont-de-Marsan,0.0,interrégional,6.0,6.1,6.0,6.3,6.4,6.2,...,7.3,7.4,7.1,7.0,6.7,6.8,6.7,6.7,6.5,6.1
1,0051,Alençon,0.0,interrégional,7.2,7.5,7.2,7.6,7.7,7.4,...,8.3,8.6,8.4,8.4,8.1,8.1,7.9,7.9,7.8,7.4
2,0052,Cosne-Clamecy,0.0,interrégional,7.5,7.6,7.4,7.8,8.0,7.7,...,8.1,8.3,8.1,7.9,7.5,7.5,7.2,7.4,7.2,6.8
3,0053,Mâcon,0.0,interrégional,5.3,5.3,5.2,5.3,5.4,5.4,...,6.4,6.5,6.5,6.4,6.3,6.4,6.3,6.3,6.1,5.9
4,0054,Nogent-le-Rotrou,0.0,interrégional,5.9,6.3,6.4,7.0,7.3,7.2,...,8.1,8.3,8.1,8.0,7.9,7.9,7.8,8.0,7.4,7.1

In [178]:
# Afficher les dimensions du dataframe

(data.shape)

(305, 73)

In [179]:
#informations sur les données

(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 73 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ZE2010     305 non-null    object
 1   LIBZE2010  304 non-null    object
 2   REG        304 non-null    float64
 3   LIBREG     304 non-null    object
 4   2003-T1    304 non-null    float64
 5   2003-T2    304 non-null    float64
 6   2003-T3    304 non-null    float64
 7   2003-T4    304 non-null    float64
 8   2004-T1    304 non-null    float64
 9   2004-T2    304 non-null    float64
 10  2004-T3    304 non-null    float64
 11  2004-T4    304 non-null    float64
 12  2005-T1    304 non-null    float64
 13  2005-T2    304 non-null    float64
 14  2005-T3    304 non-null    float64
 15  2005-T4    304 non-null    float64
 16  2006-T1    304 non-null    float64
 17  2006-T2    304 non-null    float64
 18  2006-T3    304 non-null    float64
 19  2006-T4    304 non-null    float64
 20  2007-T1    304 non-null    float64
 21  2007-T2    304 non-null    float64
 22  2007-T3    304 non-null    float64
 23  2007-T4    304 non-null    float64
 24  2008-T1    304 non-null    float64
 25  2008-T2    304 non-null    float64
 26  2008-T3    304 non-null    float64
 27  2008-T4    304 non-null    float64
 28  2009-T1    304 non-null    float64
 29  2009-T2    304 non-null    float64
 30  2009-T3    304 non-null    float64
 31  2009-T4    304 non-null    float64
 32  2010-T1    304 non-null    float64
 33  2010-T2    304 non-null    float64
 34  2010-T3    304 non-null    float64
 35  2010-T4    304 non-null    float64
 36  2011-T1    304 non-null    float64
 37  2011-T2    304 non-null    float64
 38  2011-T3    304 non-null    float64
 39  2011-T4    304 non-null    float64
 40  2012-T1    304 non-null    float64
 41  2012-T2    304 non-null    float64
 42  2012-T3    304 non-null    float64
 43  2012-T4    304 non-null    float64
 44  2013-T1    304 non-null    float64
 45  2013-T2    304 non-null    float64
 46  2013-T3    304 non-null    float64
 47  2013-T4    304 non-null    float64
 48  2014-T1    304 non-null    float64
 49  2014-T2    304 non-null    float64
 50  2014-T3    304 non-null    float64
 51  2014-T4    304 non-null    float64
 52  2015-T1    304 non-null    float64
 53  2015-T2    304 non-null    float64
 54  2015-T3    304 non-null    float64
 55  2015-T4    304 non-null    float64
 56  2016-T1    304 non-null    float64
 57  2016-T2    304 non-null    float64
 58  2016-T3    304 non-null    float64
 59  2016-T4    304 non-null    float64
 60  2017-T1    304 non-null    float64
 61  2017-T2    304 non-null    float64
 62  2017-T3    304 non-null    float64
 63  2017-T4    304 non-null    float64
 64  2018-T1    304 non-null    float64
 65  2018-T2    304 non-null    float64
 66  2018-T3    304 non-null    float64
 67  2018-T4    304 non-null    float64
 68  2019-T1    304 non-null    float64
 69  2019-T2    304 non-null    float64
 70  2019-T3    304 non-null    float64
 71  2019-T4    304 non-null    float64
 72  2020-T1    304 non-null    float64
dtypes: float64(70), object(3)
memory usage: 174.1+ KB

In [181]:
#description des données

(data.describe())

,REG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,2004-T3,2004-T4,2005-T1,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
count,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,...,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000
mean,51.868421,7.656908,7.805263,7.725987,8.055921,8.216447,8.054934,8.150329,8.181579,7.978947,...,8.725329,8.984868,8.859539,8.753947,8.469408,8.496053,8.248355,8.253618,7.923684,7.642763
std,26.940022,2.038010,2.008112,1.941491,1.985034,2.022642,2.002913,2.028558,2.016906,1.969944,...,2.199756,2.271440,2.223066,2.199471,2.153227,2.159663,2.092829,2.060981,1.989502,1.921499
min,0.000000,3.800000,3.900000,4.000000,4.200000,4.400000,4.200000,4.200000,4.200000,3.900000,...,4.400000,4.500000,4.400000,4.500000,4.300000,4.600000,4.300000,4.300000,4.200000,4.000000
25%,28.000000,6.200000,6.400000,6.400000,6.775000,6.900000,6.700000,6.800000,6.800000,6.700000,...,7.100000,7.400000,7.200000,7.200000,6.900000,7.000000,6.800000,6.800000,6.575000,6.300000
50%,52.000000,7.400000,7.600000,7.500000,7.800000,8.000000,7.750000,7.900000,8.000000,7.700000,...,8.300000,8.600000,8.500000,8.350000,8.100000,8.100000,7.900000,7.900000,7.550000,7.300000
75%,76.000000,8.700000,8.800000,8.725000,9.100000,9.400000,9.225000,9.325000,9.400000,9.200000,...,9.800000,10.125000,10.000000,9.800000,9.525000,9.625000,9.325000,9.300000,8.925000,8.625000
max,94.000000,15.000000,14.800000,14.400000,14.600000,14.700000,14.500000,14.700000,14.700000,14.300000,...,16.400000,16.800000,16.600000,16.500000,16.000000,16.100000,15.500000,15.200000,14.900000,14.500000

In [180]:
# Afficher le noms des colonnes avec l’attribut columns.
(data.columns)

Index(['ZE2010', 'LIBZE2010', 'REG', 'LIBREG', '2003-T1', '2003-T2', '2003-T3',
       '2003-T4', '2004-T1', '2004-T2', '2004-T3', '2004-T4', '2005-T1',
       '2005-T2', '2005-T3', '2005-T4', '2006-T1', '2006-T2', '2006-T3',
       '2006-T4', '2007-T1', '2007-T2', '2007-T3', '2007-T4', '2008-T1',
       '2008-T2', '2008-T3', '2008-T4', '2009-T1', '2009-T2', '2009-T3',
       '2009-T4', '2010-T1', '2010-T2', '2010-T3', '2010-T4', '2011-T1',
       '2011-T2', '2011-T3', '2011-T4', '2012-T1', '2012-T2', '2012-T3',
       '2012-T4', '2013-T1', '2013-T2', '2013-T3', '2013-T4', '2014-T1',
       '2014-T2', '2014-T3', '2014-T4', '2015-T1', '2015-T2', '2015-T3',
       '2015-T4', '2016-T1', '2016-T2', '2016-T3', '2016-T4', '2017-T1',
       '2017-T2', '2017-T3', '2017-T4', '2018-T1', '2018-T2', '2018-T3',
       '2018-T4', '2019-T1', '2019-T2', '2019-T3', '2019-T4', '2020-T1'],
      dtype='object')

In [182]:
#Utiliser la méthode Series.values_count() pour afficher le décompte du nombre de zones d’emploies par département

(data['LIBZE2010'],data['LIBREG'].value_counts())

(0          Mont-de-Marsan
 1                 Alençon
 2           Cosne-Clamecy
 3                   Mâcon
 4        Nogent-le-Rotrou
               ...
 300                Bastia
 301    Calvi-L'Île-Rousse
 302                 Corte
 303    Ghisonaccia-Aléria
 304                   NaN
 Name: LIBZE2010, Length: 305, dtype: object,
 Auvergne-Rhône-Alpes          35
 Grand-Est                     31
 Nouvelle-Aquitaine            31
 Occitanie                     30
 Hauts-de-France               26
 Bourgogne-Franche-Comté       23
 Normandie                     20
 Ile-de-France                 19
 Pays de la Loire              19
 Centre-Val-de-Loire           19
 Bretagne                      18
 Provence-Alpes-Côte d'Azur    17
 interrégional                  9
 Corse                          7
 Name: LIBREG, dtype: int64)

In [183]:
# Filtrer et garder toute les ligne du dataframe pour lesquelles le département est « Provence-Alpes-Côte d'Azur »

(data.loc[data.LIBREG=="Provence-Alpes-Côte d'Azur"])

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
280,9301,Digne-les-Bains,93.0,Provence-Alpes-Côte d'Azur,7.5,7.6,7.2,7.6,7.7,7.5,...,10.7,11.0,10.7,10.6,10.4,10.3,10.0,9.8,9.4,9.1
281,9302,Manosque,93.0,Provence-Alpes-Côte d'Azur,10.0,10.1,9.8,9.8,9.9,9.7,...,11.2,11.6,11.4,11.1,10.9,11.0,10.6,10.5,10.0,9.6
282,9303,Briançon,93.0,Provence-Alpes-Côte d'Azur,7.0,7.1,7.0,7.4,7.4,7.4,...,8.2,8.4,8.3,8.4,8.2,8.3,8.3,8.0,7.9,7.5
283,9304,Gap,93.0,Provence-Alpes-Côte d'Azur,7.0,7.0,6.9,7.1,7.3,7.1,...,8.2,8.3,8.3,8.2,8.0,8.0,7.7,7.5,7.2,7.0
284,9305,Cannes-Antibes,93.0,Provence-Alpes-Côte d'Azur,9.5,9.7,9.4,9.5,9.5,9.3,...,9.8,10.1,9.9,9.7,9.5,9.5,9.1,9.1,8.7,8.5
285,9306,Menton Vallée de la Roya,93.0,Provence-Alpes-Côte d'Azur,6.8,6.9,6.7,6.9,6.9,6.7,...,8.3,8.4,8.1,7.8,7.6,7.6,7.3,7.2,6.9,6.7
286,9307,Nice,93.0,Provence-Alpes-Côte d'Azur,8.1,8.1,8.0,8.3,8.3,8.1,...,9.6,9.8,9.6,9.5,9.2,9.2,8.9,8.9,8.4,8.2
287,9308,Aix-en-Provence,93.0,Provence-Alpes-Côte d'Azur,9.2,9.4,9.2,9.3,9.4,9.0,...,8.4,8.6,8.5,8.3,8.1,8.0,7.7,7.7,7.3,7.0
288,9309,Arles,93.0,Provence-Alpes-Côte d'Azur,11.1,11.4,11.1,11.4,11.5,11.0,...,12.4,12.5,12.5,12.3,11.7,11.8,11.4,11.4,11.0,10.7
289,9310,Marseille-Aubagne,93.0,Provence-Alpes-Côte d'Azur,11.6,11.8,11.4,11.6,11.7,11.3,...,11.5,11.9,11.7,11.6,11.2,11.2,10.8,10.7,10.3,9.9
290,9311,Istres-Martigues,93.0,Provence-Alpes-Côte d'Azur,10.3,10.5,10.3,10.5,10.5,10.2,...,10.8,11.1,10.8,10.7,10.2,10.3,10.1,9.9,9.6,9.2
291,9312,Salon-de-Provence,93.0,Provence-Alpes-Côte d'Azur,10.7,10.8,10.4,10.6,10.7,10.3,...,10.4,10.6,10.4,10.3,10.0,10.0,9.7,9.5,9.1,8.7
292,9313,Draguignan,93.0,Provence-Alpes-Côte d'Azur,11.4,11.4,11.2,11.4,11.3,11.1,...,11.6,12.0,11.8,11.5,11.2,11.2,10.9,10.8,10.2,9.8
293,9314,Fréjus-Saint Raphaël,93.0,Provence-Alpes-Côte d'Azur,10.0,10.1,10.1,10.6,10.9,11.0,...,11.7,12.2,11.9,11.7,11.5,11.5,11.1,11.0,10.5,10.3
294,9315,Toulon,93.0,Provence-Alpes-Côte d'Azur,10.6,10.6,10.3,10.5,10.6,10.4,...,9.5,9.7,9.6,9.5,9.3,9.3,8.9,8.8,8.4,8.1
295,9316,Cavaillon-Apt,93.0,Provence-Alpes-Côte d'Azur,9.3,9.2,8.9,9.1,9.1,9.0,...,11.9,12.1,11.9,11.8,11.4,11.7,11.2,11.2,10.7,10.3
296,9317,Orange,93.0,Provence-Alpes-Côte d'Azur,9.7,9.6,9.2,9.3,9.4,9.3,...,12.0,12.2,12.1,12.0,11.7,11.6,11.3,11.2,10.5,10.1

In [184]:
#Assigner ce nouveau dataframe à data2 et affiché le

data2 = (data[data.LIBREG=="Provence-Alpes-Côte d'Azur"])

(data2)

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
280,9301,Digne-les-Bains,93.0,Provence-Alpes-Côte d'Azur,7.5,7.6,7.2,7.6,7.7,7.5,...,10.7,11.0,10.7,10.6,10.4,10.3,10.0,9.8,9.4,9.1
281,9302,Manosque,93.0,Provence-Alpes-Côte d'Azur,10.0,10.1,9.8,9.8,9.9,9.7,...,11.2,11.6,11.4,11.1,10.9,11.0,10.6,10.5,10.0,9.6
282,9303,Briançon,93.0,Provence-Alpes-Côte d'Azur,7.0,7.1,7.0,7.4,7.4,7.4,...,8.2,8.4,8.3,8.4,8.2,8.3,8.3,8.0,7.9,7.5
283,9304,Gap,93.0,Provence-Alpes-Côte d'Azur,7.0,7.0,6.9,7.1,7.3,7.1,...,8.2,8.3,8.3,8.2,8.0,8.0,7.7,7.5,7.2,7.0
284,9305,Cannes-Antibes,93.0,Provence-Alpes-Côte d'Azur,9.5,9.7,9.4,9.5,9.5,9.3,...,9.8,10.1,9.9,9.7,9.5,9.5,9.1,9.1,8.7,8.5
285,9306,Menton Vallée de la Roya,93.0,Provence-Alpes-Côte d'Azur,6.8,6.9,6.7,6.9,6.9,6.7,...,8.3,8.4,8.1,7.8,7.6,7.6,7.3,7.2,6.9,6.7
286,9307,Nice,93.0,Provence-Alpes-Côte d'Azur,8.1,8.1,8.0,8.3,8.3,8.1,...,9.6,9.8,9.6,9.5,9.2,9.2,8.9,8.9,8.4,8.2
287,9308,Aix-en-Provence,93.0,Provence-Alpes-Côte d'Azur,9.2,9.4,9.2,9.3,9.4,9.0,...,8.4,8.6,8.5,8.3,8.1,8.0,7.7,7.7,7.3,7.0
288,9309,Arles,93.0,Provence-Alpes-Côte d'Azur,11.1,11.4,11.1,11.4,11.5,11.0,...,12.4,12.5,12.5,12.3,11.7,11.8,11.4,11.4,11.0,10.7
289,9310,Marseille-Aubagne,93.0,Provence-Alpes-Côte d'Azur,11.6,11.8,11.4,11.6,11.7,11.3,...,11.5,11.9,11.7,11.6,11.2,11.2,10.8,10.7,10.3,9.9
290,9311,Istres-Martigues,93.0,Provence-Alpes-Côte d'Azur,10.3,10.5,10.3,10.5,10.5,10.2,...,10.8,11.1,10.8,10.7,10.2,10.3,10.1,9.9,9.6,9.2
291,9312,Salon-de-Provence,93.0,Provence-Alpes-Côte d'Azur,10.7,10.8,10.4,10.6,10.7,10.3,...,10.4,10.6,10.4,10.3,10.0,10.0,9.7,9.5,9.1,8.7
292,9313,Draguignan,93.0,Provence-Alpes-Côte d'Azur,11.4,11.4,11.2,11.4,11.3,11.1,...,11.6,12.0,11.8,11.5,11.2,11.2,10.9,10.8,10.2,9.8
293,9314,Fréjus-Saint Raphaël,93.0,Provence-Alpes-Côte d'Azur,10.0,10.1,10.1,10.6,10.9,11.0,...,11.7,12.2,11.9,11.7,11.5,11.5,11.1,11.0,10.5,10.3
294,9315,Toulon,93.0,Provence-Alpes-Côte d'Azur,10.6,10.6,10.3,10.5,10.6,10.4,...,9.5,9.7,9.6,9.5,9.3,9.3,8.9,8.8,8.4,8.1
295,9316,Cavaillon-Apt,93.0,Provence-Alpes-Côte d'Azur,9.3,9.2,8.9,9.1,9.1,9.0,...,11.9,12.1,11.9,11.8,11.4,11.7,11.2,11.2,10.7,10.3
296,9317,Orange,93.0,Provence-Alpes-Côte d'Azur,9.7,9.6,9.2,9.3,9.4,9.3,...,12.0,12.2,12.1,12.0,11.7,11.6,11.3,11.2,10.5,10.1

In [83]:
#Utiliser la méthode Series.values_count() pour afficher combien de fois une zone d’emploie apparait en « Provence-Alpes-Côte d'Azur ».

print(data2["LIBREG"].value_counts())

Provence-Alpes-Côte d'Azur    17
Name: LIBREG, dtype: int64

In [185]:
# Exploration des taux de chômages

#Créer un objet indiquant avec des booléens si le taux de chômage pour le 1ere trimestre 2020 est supérieur à 7.1
#Assigner le résultat à la variable « data_t1_2020 »

data_t1_2020 = (data['2020-T1'] > 7.1)

(data_t1_2020)

0      False
1       True
2      False
3      False
4      False
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2020-T1, Length: 305, dtype: bool

In [186]:
# Créer un objet indiquant avec des booléens si le taux de chômage pour le 1ere trimestre 2019 est supérieur à 7.1
#Assigner le résultat à la variable « data_t1_2019 ».

data_t1_2019 = (data['2019-T1'] > 7.1)

(data_t1_2019)

0      False
1       True
2       True
3      False
4       True
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2019-T1, Length: 305, dtype: bool

In [187]:
#Créer un objet indiquant avec des booléens si le taux de chômage pour le 1ere trimestre 2018 est supérieur à 7.1
#Assigner le résultat à la variable « data_t1_2018 »

data_t1_2018 = (data['2018-T1'] > 7.1)

(data_t1_2018)

0       True
1       True
2       True
3      False
4       True
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2018-T1, Length: 305, dtype: bool

In [188]:
#Combiner les trois objets Series avec l’operateur « & » et assigné le résultat à la variable « data_7_1 ».

data_7_1 = (data_t1_2020 & data_t1_2019 & data_t1_2018)
(data_7_1)

0      False
1       True
2      False
3      False
4      False
       ...
300     True
301     True
302     True
303     True
304    False
Length: 305, dtype: bool

In [198]:
# data_7_1 est une liste. Assigné là à un dataframe dont le nom de colonne sera « booleen ».

df = pd.DataFrame({'booleen' : data_7_1 })

# Afficher les valeurs unique 

print(df['booleen'].unique())
print(df['booleen'].nunique())

[False  True]
2

In [190]:
# Afficher combien de fois elle apparaissent dans la colonne
(df['booleen'].value_counts())

True     163
False    142
Name: booleen, dtype: int64

In [191]:
# Import de données depuis un fichié Excel dans un dataframe

nom_colonnes_p_emploi = ['code', 'Libellé', 'Pôle emploi 2018']

p_emploi = pd.read_excel("//home//virus//Documents//Analyse exploratoire taux de chômage//pole_emploi.xlsx",
                     names=nom_colonnes_p_emploi, sheet_name='Data', skiprows=4)

# Afficher les premières lignes du dataframe

(p_emploi)

    code                     Libellé  Pôle emploi 2018
0      2                  Martinique                11
1      3                      Guyane                 8
2      4                  La Réunion                17
3      6                     Mayotte                 3
4     11               Île-de-France               164
5     24         Centre-Val de Loire               116
6     27     Bourgogne-Franche-Comté               165
7     28                   Normandie               145
8     32             Hauts-de-France               171
9     44                   Grand Est               238
10    52            Pays de la Loire               104
11    53                    Bretagne                91
12    75          Nouvelle-Aquitaine               251
13    76                   Occitanie               262
14    84        Auvergne-Rhône-Alpes               294
15    93  Provence-Alpes-Côte d'Azur               145
16    94                       Corse                31

In [193]:
#data.merge(p_emploi, left_on='lkey', right_on='rkey')

display(data,p_emploi)

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
0,0050,Mont-de-Marsan,0.0,interrégional,6.0,6.1,6.0,6.3,6.4,6.2,...,7.3,7.4,7.1,7.0,6.7,6.8,6.7,6.7,6.5,6.1
1,0051,Alençon,0.0,interrégional,7.2,7.5,7.2,7.6,7.7,7.4,...,8.3,8.6,8.4,8.4,8.1,8.1,7.9,7.9,7.8,7.4
2,0052,Cosne-Clamecy,0.0,interrégional,7.5,7.6,7.4,7.8,8.0,7.7,...,8.1,8.3,8.1,7.9,7.5,7.5,7.2,7.4,7.2,6.8
3,0053,Mâcon,0.0,interrégional,5.3,5.3,5.2,5.3,5.4,5.4,...,6.4,6.5,6.5,6.4,6.3,6.4,6.3,6.3,6.1,5.9
4,0054,Nogent-le-Rotrou,0.0,interrégional,5.9,6.3,6.4,7.0,7.3,7.2,...,8.1,8.3,8.1,8.0,7.9,7.9,7.8,8.0,7.4,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,9404,Bastia,94.0,Corse,9.2,8.9,8.9,9.3,9.4,9.3,...,9.7,10.1,9.7,9.4,9.2,9.2,8.8,8.5,8.2,7.9
301,9405,Calvi-L'Île-Rousse,94.0,Corse,11.7,11.4,11.2,11.4,11.2,11.5,...,11.6,12.5,12.2,11.9,11.4,11.6,11.0,10.8,10.5,10.1
302,9406,Corte,94.0,Corse,8.3,7.6,8.2,8.1,8.0,8.0,...,8.5,8.9,8.9,8.6,7.8,8.2,7.6,7.3,7.1,7.3
303,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,10.0,10.6,10.4,10.1,9.9,10.0,9.4,9.4,9.0,8.6
304,"Source : Insee, Estimations de taux de chômage...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    code                     Libellé  Pôle emploi 2018
0      2                  Martinique                11
1      3                      Guyane                 8
2      4                  La Réunion                17
3      6                     Mayotte                 3
4     11               Île-de-France               164
5     24         Centre-Val de Loire               116
6     27     Bourgogne-Franche-Comté               165
7     28                   Normandie               145
8     32             Hauts-de-France               171
9     44                   Grand Est               238
10    52            Pays de la Loire               104
11    53                    Bretagne                91
12    75          Nouvelle-Aquitaine               251
13    76                   Occitanie               262
14    84        Auvergne-Rhône-Alpes               294
15    93  Provence-Alpes-Côte d'Azur               145
16    94                       Corse                31

In [218]:

# • Joindre les data et p_emploi au seins d’un seul et unique dataframe en faisant 
#correspondre les régions par leur codes. Utiliser pd.merge() pour réaliser cette jointure.

full_data = pd.merge(data, p_emploi, left_on='REG', right_on='code')


(full_data)

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1,code,Libellé,Pôle emploi 2018
0,0060*,Saint-Étienne,84.0,Auvergne-Rhône-Alpes,8.0,8.2,8.1,8.4,8.6,8.3,...,8.7,8.3,8.4,8.1,8.3,8.0,7.7,84,Auvergne-Rhône-Alpes,294
1,8201,Ambérieu-en-Bugey,84.0,Auvergne-Rhône-Alpes,5.7,5.8,5.6,6.0,6.2,6.0,...,6.6,6.2,6.2,6.1,6.3,6.0,5.8,84,Auvergne-Rhône-Alpes,294
2,8202,Bourg-en-Bresse,84.0,Auvergne-Rhône-Alpes,4.5,4.7,4.6,4.8,4.9,4.9,...,6.7,6.4,6.4,6.3,6.5,6.2,5.9,84,Auvergne-Rhône-Alpes,294
3,8203,Oyonnax,84.0,Auvergne-Rhône-Alpes,6.8,6.9,7.2,7.7,7.8,7.5,...,7.9,7.6,7.6,7.4,7.4,7.3,7.2,84,Auvergne-Rhône-Alpes,294
4,8204,Annonay,84.0,Auvergne-Rhône-Alpes,7.6,8.0,8.0,8.1,8.1,7.8,...,8.6,8.2,8.2,7.9,7.9,7.7,7.3,84,Auvergne-Rhône-Alpes,294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,9403,Sartène-Propriano,94.0,Corse,10.7,10.7,10.4,10.0,10.5,10.4,...,10.0,10.1,10.0,9.5,9.6,9.5,9.4,94,Corse,31
291,9404,Bastia,94.0,Corse,9.2,8.9,8.9,9.3,9.4,9.3,...,9.4,9.2,9.2,8.8,8.5,8.2,7.9,94,Corse,31
292,9405,Calvi-L'Île-Rousse,94.0,Corse,11.7,11.4,11.2,11.4,11.2,11.5,...,11.9,11.4,11.6,11.0,10.8,10.5,10.1,94,Corse,31
293,9406,Corte,94.0,Corse,8.3,7.6,8.2,8.1,8.0,8.0,...,8.6,7.8,8.2,7.6,7.3,7.1,7.3,94,Corse,31
294,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,10.1,9.9,10.0,9.4,9.4,9.0,8.6,94,Corse,31

In [243]:
#• Créer une colonne quartile dans p_emploi qui prendra les valeurs [‘q25’, ‘q50’, ‘q75’, 
#‘q100’] en fonction du quartile auquel appartient le nombre de pôle emploi. Pour se faire 
#utiliser « pd.qcut() »

p_emploi['quartile'] = pd.qcut(p_emploi['Pôle emploi 2018'], q = 4, labels = ['q25', 'q50', 'q75', 'q100'])


p_emploi.sort_values(by=['quartile'])

    code                     Libellé  Pôle emploi 2018 quartile
0      2                  Martinique                11      q25
3      6                     Mayotte                 3      q25
16    94                       Corse                31      q25
1      3                      Guyane                 8      q25
2      4                  La Réunion                17      q25
5     24         Centre-Val de Loire               116      q50
7     28                   Normandie               145      q50
15    93  Provence-Alpes-Côte d'Azur               145      q50
10    52            Pays de la Loire               104      q50
11    53                    Bretagne                91      q50
4     11               Île-de-France               164      q75
6     27     Bourgogne-Franche-Comté               165      q75
8     32             Hauts-de-France               171      q75
9     44                   Grand Est               238     q100
12    75          Nouvelle-Aquitaine               251     q100
13    76                   Occitanie               262     q100
14    84        Auvergne-Rhône-Alpes               294     q100

In [ ]:
#• Générer un pivot de table montrant la moyenne du taux de chômage du trimestre 1 de 
# l’année 2020 pour chaque régions et quantile du nombre de pôle emploi.
#• Appeler la méthode pivot_table () sur le data frame
#• Passer au paramètre « index » la valeur « LIBREG ».
#• Passer au paramètre « columns » la valeur « quantile ».
#• Passer au paramètre « values » la valeur «2020-T1 »
#• Afficher les résultats.

In [241]:
moyenne_chomage_2020_T1 = pd.pivot_table(full_data, values=['2020-T1'], index = ['LIBREG'], columns = ['quartile'])

moyenne_chomage_2020_T1

                             2020-T1
quartile                         q25       q50       q75      q100
LIBREG
Auvergne-Rhône-Alpes             NaN       NaN       NaN  6.728571
Bourgogne-Franche-Comté          NaN  6.565217       NaN       NaN
Bretagne                    6.661111       NaN       NaN       NaN
Centre-Val-de-Loire         7.684211       NaN       NaN       NaN
Corse                       8.514286       NaN       NaN       NaN
Grand-Est                        NaN       NaN  7.264516       NaN
Hauts-de-France                  NaN  9.911538       NaN       NaN
Ile-de-France                    NaN  6.794737       NaN       NaN
Normandie                   7.150000       NaN       NaN       NaN
Nouvelle-Aquitaine               NaN       NaN  7.293548       NaN
Occitanie                        NaN       NaN       NaN  9.603333
Pays de la Loire            6.563158       NaN       NaN       NaN
Provence-Alpes-Côte d'Azur  8.864706       NaN       NaN       NaN

In [242]:
moyenne_chomage_2019_T1 = pd.pivot_table(full_data, values=['2019-T1'], index = ['LIBREG'], columns = ['quartile'])


moyenne_chomage_2019_T1

                              2019-T1
quartile                          q25        q50       q75       q100
LIBREG
Auvergne-Rhône-Alpes              NaN        NaN       NaN   7.428571
Bourgogne-Franche-Comté           NaN   7.339130       NaN        NaN
Bretagne                     7.394444        NaN       NaN        NaN
Centre-Val-de-Loire          8.621053        NaN       NaN        NaN
Corse                        9.642857        NaN       NaN        NaN
Grand-Est                         NaN        NaN  7.996774        NaN
Hauts-de-France                   NaN  11.069231       NaN        NaN
Ile-de-France                     NaN   7.357895       NaN        NaN
Normandie                    7.965000        NaN       NaN        NaN
Nouvelle-Aquitaine                NaN        NaN  8.164516        NaN
Occitanie                         NaN        NaN       NaN  10.796667
Pays de la Loire             7.031579        NaN       NaN        NaN
Provence-Alpes-Côte d'Azur  10.029412        NaN       NaN        NaN

In [244]:
moyenne_chomage_2018_T1 = pd.pivot_table(full_data, values=['2018-T1'], index = ['LIBREG'], columns = ['quartile'])

moyenne_chomage_2018_T1

                              2018-T1
quartile                          q25        q50       q75       q100
LIBREG
Auvergne-Rhône-Alpes              NaN        NaN       NaN   7.831429
Bourgogne-Franche-Comté           NaN   7.769565       NaN        NaN
Bretagne                     7.794444        NaN       NaN        NaN
Centre-Val-de-Loire          9.026316        NaN       NaN        NaN
Corse                       10.485714        NaN       NaN        NaN
Grand-Est                         NaN        NaN  8.561290        NaN
Hauts-de-France                   NaN  11.846154       NaN        NaN
Ile-de-France                     NaN   7.752632       NaN        NaN
Normandie                    8.520000        NaN       NaN        NaN
Nouvelle-Aquitaine                NaN        NaN  8.635484        NaN
Occitanie                         NaN        NaN       NaN  11.216667
Pays de la Loire             7.357895        NaN       NaN        NaN
Provence-Alpes-Côte d'Azur  10.617647        NaN       NaN        NaN