In [2]:
import pandas as pd
import numpy as np
import sqlalchemy 
from sqlalchemy import create_engine

In [111]:
mag_jour = pd.read_excel('D:\\PerrenotStage\\alimentation_tables\\magasins_journaliers.xlsx', sheet_name=0)
mag_jour.head(60)

    enseigne_id  nbre_rolls  nbre_palette nbre_boxe magasin_code
0             1         2.0           NaN         0        TZ624
1             1         2.1           NaN         1        TZ624
2             1         2.0           NaN         2        C8403
3             1         2.0           NaN         2        C8403
4             1         1.0           NaN         2        E8615
5             1         2.0           NaN         2        E8615
6             1         1.0           NaN                  TL420
7             1         1.0           NaN                  TL420
8             1         8.8           NaN                  TW512
9             1         3.9           NaN                  TW512
10            1         1.0           NaN                  E8679
11            1         1.0           NaN                  E8679
12            1         1.6           NaN                  E1715
13            1         3.0           NaN                  E1715
14            1         5.9           NaN                  E1715
15            1         2.0           NaN                  E1730
16            1         1.0           NaN                  E1730
17            1         2.0           NaN                  TK820
18            1         2.0           NaN                  TK820
19            1         0.7           NaN                  TK820
20            1         1.0           NaN                  C8226
21            1         1.0           NaN                  C8226
22            1         3.0           NaN                  E3309
23            1         1.0           NaN                  E3309
24            1         2.0           NaN                  C8422
25            1         1.0           NaN                  E3760
26            1         1.0           NaN                  E3760
27            1         1.0           NaN                  E3760
28            1         2.0           NaN                  E8638
29            1         1.0           NaN                  E8638
30            1         1.0           NaN                  E8638
31            1         1.0           NaN                  E1757
32            1         1.0           NaN                  E1757
33            1         2.0           NaN                  C3195
34            1         2.0           NaN                  C3195
35            1         3.0           NaN                  E3395
36            1         1.0           NaN                  E3395
37            1         1.2           NaN                  C8403
38            1         0.8           NaN                  E8615
39            1         3.4           NaN                  TW512
40            1         2.0           NaN                  E8679
41            1         1.3           NaN                  TK820
42            1         1.1           NaN                  C8422
43            1         0.6           NaN                  E3760
44            1         NaN           NaN                  E3760
45            1         1.3           NaN                  C3195
46            1         3.0           NaN                  TZ624
47            1         1.6           NaN                  E1715
48            1         3.0           NaN                  TK820
49            1         3.0           NaN                  C8226
50            1         2.0           NaN                  E3760
51            1         1.0           NaN                  E1726
52            1         1.0           NaN                  C3195
53            4         3.0           3.0       NaN       CANNES
54            4        20.0           2.0       NaN      MOUGINS
55            6        10.0           NaN       NaN         1033
56            6        11.0           NaN         1         1033
57            6        12.0           NaN       NaN         1863
58            6         9.0           NaN         3         1821
59            6         5.0           NaN       NaN         1821

In [112]:
mag_jour['nbre_boxe']=mag_jour['nbre_boxe'].str.replace(" ","")
mag_jour

    enseigne_id  nbre_rolls  nbre_palette nbre_boxe magasin_code
0             1         2.0           NaN       NaN        TZ624
1             1         2.1           NaN       NaN        TZ624
2             1         2.0           NaN       NaN        C8403
3             1         2.0           NaN       NaN        C8403
4             1         1.0           NaN       NaN        E8615
..          ...         ...           ...       ...          ...
57            6        12.0           NaN       NaN         1863
58            6         9.0           NaN       NaN         1821
59            6         5.0           NaN       NaN         1821
60            6         1.0           NaN       NaN         1821
61            6         1.0           NaN       NaN         1821

[62 rows x 5 columns]

In [113]:
mag_jour[['nbre_pallete', 'nbre_rolls', 'nbre_boxe']]=mag_jour[['nbre_pallete', 'nbre_rolls', 'nbre_boxe']].fillna(0)
mag_jour

KeyError: "['nbre_pallete'] not in index"

In [76]:
#additionner volume des rolls pour chaque magasin
rolls=mag_jour.groupby(['enseigne_id','magasin_code'])['nbre_rolls'].sum()
rolls=rolls.reset_index()
rolls

    enseigne_id magasin_code  nbre_rolls
0             1        C3195         6.3
1             1        C8226         5.0
2             1        C8403         5.2
3             1        C8422         3.1
4             1        E1715        12.1
5             1        E1726         1.0
6             1        E1730         3.0
7             1        E1757         2.0
8             1        E3309         4.0
9             1        E3395         4.0
10            1        E3760         5.6
11            1        E8615         3.8
12            1        E8638         4.0
13            1        E8679         4.0
14            1        TK820         9.0
15            1        TL420         2.0
16            1        TW512        16.1
17            1        TZ624         7.1
18            4       CANNES         3.0
19            4      MOUGINS        20.0
20            6         1033        21.0
21            6         1821        16.0
22            6         1863        12.0

In [94]:
"""boxe=mag_jour.groupby(['magasin_code'])['nbre_boxe'].sum()
boxe.reset_index()"""

"boxe=mag_jour.groupby(['magasin_code'])['nbre_boxe'].sum()\nboxe.reset_index()"

In [115]:
#additionner volume des palletes pour chaque magasin
pallete=mag_jour.groupby(['magasin_code'])['nbre_palette'].sum()
pallete.reset_index()

   magasin_code  nbre_palette
0          1033           0.0
1          1821           0.0
2          1863           0.0
3         C3195           0.0
4         C8226           0.0
5         C8403           0.0
6         C8422           0.0
7        CANNES           3.0
8         E1715           0.0
9         E1726           0.0
10        E1730           0.0
11        E1757           0.0
12        E3309           0.0
13        E3395           0.0
14        E3760           0.0
15        E8615           0.0
16        E8638           0.0
17        E8679           0.0
18      MOUGINS           2.0
19        TK820           0.0
20        TL420           0.0
21        TW512           0.0
22        TZ624           0.0

In [116]:

#jointure des deux volumes
camion_mag=pd.merge(rolls, pallete, on='magasin_code', how='inner')
camion_mag

    enseigne_id magasin_code  nbre_rolls  nbre_palette
0             1        C3195         6.3           0.0
1             1        C8226         5.0           0.0
2             1        C8403         5.2           0.0
3             1        C8422         3.1           0.0
4             1        E1715        12.1           0.0
5             1        E1726         1.0           0.0
6             1        E1730         3.0           0.0
7             1        E1757         2.0           0.0
8             1        E3309         4.0           0.0
9             1        E3395         4.0           0.0
10            1        E3760         5.6           0.0
11            1        E8615         3.8           0.0
12            1        E8638         4.0           0.0
13            1        E8679         4.0           0.0
14            1        TK820         9.0           0.0
15            1        TL420         2.0           0.0
16            1        TW512        16.1           0.0
17            1        TZ624         7.1           0.0
18            4       CANNES         3.0           3.0
19            4      MOUGINS        20.0           2.0
20            6         1033        21.0           0.0
21            6         1821        16.0           0.0
22            6         1863        12.0           0.0

In [117]:
# connexion BDD
engine = create_engine('mysql+pymysql://simplon:Simplon2020@localhost:3306/perrenot')

In [118]:
#récupération magasin_id de chaque magasin
magasin_id=[]
requete="select magasin_id as id from magasin where magasin_code='%s' and enseigne_id='%s'"
for i in range(camion_mag.shape[0]):
    mag_cd=camion_mag.iloc[i,1]
    ens_id=camion_mag.iloc[i,0]
    mag_id=pd.read_sql_query(requete %(mag_cd,ens_id), engine)['id']
    magasin_id.append(mag_id[0])
camion_mag['magasin_id']=magasin_id    
print(camion_mag)

    enseigne_id magasin_code  nbre_rolls  nbre_palette  magasin_id
0             1        C3195         6.3           0.0           3
1             1        C8226         5.0           0.0         146
2             1        C8403         5.2           0.0         149
3             1        C8422         3.1           0.0          26
4             1        E1715        12.1           0.0         169
5             1        E1726         1.0           0.0          52
6             1        E1730         3.0           0.0          53
7             1        E1757         2.0           0.0         177
8             1        E3309         4.0           0.0          61
9             1        E3395         4.0           0.0          64
10            1        E3760         5.6           0.0          78
11            1        E8615         3.8           0.0          87
12            1        E8638         4.0           0.0         174
13            1        E8679         4.0           0.0          89
14            1        TK820         9.0           0.0         172
15            1        TL420         2.0           0.0         151
16            1        TW512        16.1           0.0         134
17            1        TZ624         7.1           0.0         143
18            4       CANNES         3.0           3.0         193
19            4      MOUGINS        20.0           2.0         194
20            6         1033        21.0           0.0         205
21            6         1821        16.0           0.0         220
22            6         1863        12.0           0.0         226

In [119]:
del camion_mag['enseigne_id']
del camion_mag['magasin_code']
camion_mag

    nbre_rolls  nbre_palette  magasin_id
0          6.3           0.0           3
1          5.0           0.0         146
2          5.2           0.0         149
3          3.1           0.0          26
4         12.1           0.0         169
5          1.0           0.0          52
6          3.0           0.0          53
7          2.0           0.0         177
8          4.0           0.0          61
9          4.0           0.0          64
10         5.6           0.0          78
11         3.8           0.0          87
12         4.0           0.0         174
13         4.0           0.0          89
14         9.0           0.0         172
15         2.0           0.0         151
16        16.1           0.0         134
17         7.1           0.0         143
18         3.0           3.0         193
19        20.0           2.0         194
20        21.0           0.0         205
21        16.0           0.0         220
22        12.0           0.0         226

In [106]:

camion_mag['date']='2020-10-24'
camion_mag

    nbre_rolls  nbre_pallete  magasin_id        date
0          6.3           0.0           3  2020-10-24
1          5.0           0.0         146  2020-10-24
2          5.2           0.0         149  2020-10-24
3          3.1           0.0          26  2020-10-24
4         12.1           0.0         169  2020-10-24
5          1.0           0.0          52  2020-10-24
6          3.0           0.0          53  2020-10-24
7          2.0           0.0         177  2020-10-24
8          4.0           0.0          61  2020-10-24
9          4.0           0.0          64  2020-10-24
10         5.6           0.0          78  2020-10-24
11         3.8           0.0          87  2020-10-24
12         4.0           0.0         174  2020-10-24
13         4.0           0.0          89  2020-10-24
14         9.0           0.0         172  2020-10-24
15         2.0           0.0         151  2020-10-24
16        16.1           0.0         134  2020-10-24
17         7.1           0.0         143  2020-10-24
18         3.0           3.0         193  2020-10-24
19        20.0           2.0         194  2020-10-24
20        21.0           0.0         205  2020-10-24
21        16.0           0.0         220  2020-10-24
22        12.0           0.0         226  2020-10-24

In [123]:
# ajouter des camions aux magasins
camion_id=[2,2,2,2,2,9,9,9,9,9,9,9,9,9,11,11,11,12,12,12,13,14,13]
camion_mag['camion_id']=camion_id
camion_mag['date']
camion_mag

    nbre_rolls  nbre_palette  magasin_id  camion_id        date
0          6.3           0.0           3          2  2020-10-24
1          5.0           0.0         146          2  2020-10-24
2          5.2           0.0         149          2  2020-10-24
3          3.1           0.0          26          2  2020-10-24
4         12.1           0.0         169          2  2020-10-24
5          1.0           0.0          52          9  2020-10-24
6          3.0           0.0          53          9  2020-10-24
7          2.0           0.0         177          9  2020-10-24
8          4.0           0.0          61          9  2020-10-24
9          4.0           0.0          64          9  2020-10-24
10         5.6           0.0          78          9  2020-10-24
11         3.8           0.0          87          9  2020-10-24
12         4.0           0.0         174          9  2020-10-24
13         4.0           0.0          89          9  2020-10-24
14         9.0           0.0         172         11  2020-10-24
15         2.0           0.0         151         11  2020-10-24
16        16.1           0.0         134         11  2020-10-24
17         7.1           0.0         143         12  2020-10-24
18         3.0           3.0         193         12  2020-10-24
19        20.0           2.0         194         12  2020-10-24
20        21.0           0.0         205         13  2020-10-24
21        16.0           0.0         220         14  2020-10-24
22        12.0           0.0         226         13  2020-10-24

In [124]:
# alimenter la table camion_magasin
camion_mag.to_sql('camion_magasin', con=engine, index=False, if_exists='append')

In [125]:
# créer dataframe chauffeur_camion
camion_id=[2,9,11,12,13,14]
chauf_id=[1,3,5,9,11,12]
chauffeur_camion = pd.DataFrame({'chauf_id': chauf_id,'camion_id': camion_id}, columns = ['chauf_id', 'camion_id'])
chauffeur_camion['date']='2020-10-24'
chauffeur_camion

   chauf_id  camion_id        date
0         1          2  2020-10-24
1         3          9  2020-10-24
2         5         11  2020-10-24
3         9         12  2020-10-24
4        11         13  2020-10-24
5        12         14  2020-10-24

In [126]:
# alimenter la table chauffeur_camion
chauffeur_camion.to_sql('chauffeur_camion', con=engine, index=False, if_exists='append')